.gd-banner-container{
    .gd-cell{
        padding: 8px;
    }
}


.page-content.c-max.main-page{
    padding-top: 200px;
}

#page-hero.main-hero{
    background-position: center;
    background-size: cover;
    min-height: 500px;
    &.narrow{
        left:240px;
    }
}
