.gd-banner-container{
    .gd-cell{
        padding: 8px;
    }
}

.recent{
    .recent-tile{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}