.fade-in-if {

}
.fade-in-if.ng-enter,
.fade-in-if.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.fade-in-if.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s;
}
.fade-in-if.ng-enter,
.fade-in-if.ng-leave.ng-leave-active {
    opacity: 0;
}
.fade-in-if.ng-leave,
.fade-in-if.ng-enter.ng-enter-active {
    opacity: 1;
}

.repeat-animation{

}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
  position:relative;
  left:5px;
}
.repeat-animation.ng-enter {
  opacity: 0;
}
.repeat-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.repeat-animation.ng-leave {
  opacity: 1;
}
.repeat-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.repeat-animation.ng-move {
  left:2px;
  opacity: 0.5;
}
.repeat-animation.ng-move.ng-move-active {
  left:0;
  opacity: 1;
}

.my-animation.ng-enter {
  /* standard transition code */
  transition: 1s linear all;
  opacity:0;
  left:-100%;
}
.my-animation.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.1s;

  /* in case the stagger doesn't work then the duration value
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}
.my-animation.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
  left: 0;
}
