// md icon fonts
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
.material-icons.md-64 {
    font-size: 64px;
}
.material-icons.md-96 {
    font-size: 96px;
}
.material-icons.md-112 {
    font-size: 112px;
}
