<div class="page-content c-max">
    <gd-heading title="Cosul tau de cumparaturi">
        <div class="page-content c-max">
            <a class="md-primary md-icon-button cart-heading-button" href="#" md-button>
                <md-tooltip>
                    Vezi toate
                </md-tooltip>
                <md-icon>
                    <i class="material-icons">&#xE5C3;</i>
                </md-icon>
            </a>
        </div>
    </gd-heading>

    <gd-cart></gd-cart>

<!-- Others also bought -->
    <gd-carousel data="$root.products" lg="5" limit="10" md="4" sm="3" start="0" title="Altii au mai cumparat" xs="2"></gd-carousel>

<!-- Similar products -->
    <gd-carousel data="$root.products" lg="5" limit="10" md="4" sm="3" start="0" title="Produse similare" xs="2"></gd-carousel>

<!-- Recommended -->
    <gd-carousel data="$root.products" lg="5" limit="10" md="4" sm="3" start="0" title="Produse recomandate" xs="2"></gd-carousel>
</div>