<div class="page-content c-max">
    <gd-heading ng-if="cart.items.length" subtitle="Verifica si confirma sau modifica detaliile cosului tau" title="Cosul tau de cumparaturi"></gd-heading>
    <gd-heading ng-if="!cart.items.length" subtitle="Intoarce-te la cumparaturi" title="Cosul tau este gol">
        <a href="/store">
            <md-button class="md-primary md-icon-button carousel-heading-button">
                <md-tooltip>
                    Inapoi in magazin
                </md-tooltip>
                <md-icon md-svg-src="assets/icons/ic_store_24px.svg"></md-icon>
            </md-button>
        </a>
    </gd-heading>
    <md-divider></md-divider>
    <br>
    <div ng-if="!cart.items.length" style="padding-left: 16px;">
        <md-icon md-svg-src="assets/icons/ic_info_outline_24px.svg" style="width: 20px; height: 20px; vertical-align: middle; color: rgb(183,28,28);"></md-icon>
        <span style="vertical-align: middle">Daca ai o lista cu produse nu uita sa o trimiti in cos</span>
    </div>
    <br>
    <a md-button class="md-primary md-raised" style="margin-left: 16px; vertical-align: middle;" href="/account/lists">Arata-mi listele</a>
    <div class="gd-table" ng-if="cart.items.length">
        <gd-table-header class="gd-table-header">
            <md-icon aria-label="Goleste cos de cumparaturi" class="empty-cart-button l-right" md-svg-src="assets/icons/ic_delete_24px.svg" ng-click="cart.empty()">
                <md-tooltip>Goleste cos</md-tooltip>
            </md-icon>
        </gd-table-header>
        <ul id="gd-shopping-list">
            <li class="paper" ng-repeat="item in cart.items">
                <div class="gd-shopping-list-item" layout layout-align="start center">
                    <div class="list-item-media" style="background-image:url({{item.product.file1}})">
                        <div class="hoverlay"></div>
                    </div>
                    <div class="list-item-info" flex>
                        <section class="" id="product-info" style="margin-top: 0; padding:0;">
                            <div class="product-details" layout-gt-md="row" layout="column">
                                <div class="info" flex style="padding: 0;">
                                    <h1 class="product-title" style="margin-bottom:0;">{{item.product.name}}
                                        <span ng-show="item.size" style="font-size: 16px; color:rgba(0,0,0,.54); vertical-align:middle; font-weight: 500;">
                                            •
                                            {{item.size}}</span>
                                    </h1>
                                    <p class="product-subtitle">{{item.product.subname}}</p>
                                    <div class="product-stats" style="margin-bottom:0;">
                                        <span class="brand">{{item.product.brand | uppercase}}</span>
                                        •
                                        <span class="type">{{item.product.type}}</span>
                                        •
                                        <span class="kind">{{item.product.kind}}</span>
                                    </div>
                                    <div class="review-info">
                                        <div class="stars-container">
                                            <md-icon class="tiny-star" md-svg-src="assets/icons/ic_star_tiny_14px.svg" ng-class="{'fill' : count <= item.product.rating}" ng-repeat="count in [1,2,3,4,5]"></md-icon>
                                        </div>
                                        <span class="review-count" ng-class="{disabled : !item.product.reviews.length}">
                                            •
                                            {{item.product.reviews.length}}
                                            review-uri
                                        </span>
                                    </div>
                                    <div class="price-container" data="product" id="{{ item.product.code }}" name="{{ item.product.name }}" ng-class="{promo : item.product.promo}" price="{{ item.product.price }}" quantity="1" style="margin-top:0; margin-bottom:0;">
                                        <div class="promo-price" ng-cloak ng-show="item.product.promo">RON
                                            {{item.product.promo_price | number : 2}}</div>
                                        <div class="price" ng-cloak>
                                            <span ng-show="!item.product.promo">RON</span>
                                            {{item.product.price | number : 2}}</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="gd-separator" style="height:96px;"></div>
                    <div class="list-item-actions" layout="column">
                        <md-input-container class="qty-adjust" flex="40">
                            <label>Cantitate</label>
                            <input max="{{item.maxCount()}}" min="1" name="orderCount" ng-change="updateList(item)" ng-model="item.count" required type="number">
                        </md-input-container>
                        <span flex></span>
                        <div flex="40">
                            <div class="price" ng-cloak ng-show="item.count">
                                <span>RON
                                </span>{{item.count * item.product.new_price | number : 2}}</div>
                        </div>
                    </div>
                    <div class="promo-badge" ng-show="item.product.promo">
                        <md-tooltip>
                            Produs promo
                        </md-tooltip>
                        <md-icon md-svg-src="assets/icons/promo_badge.svg" style="width: 48px; height: 48px;"></md-icon>
                    </div>
                    <md-icon aria-label="Elimina din cos" class="cancel-cart-item" md-svg-src="assets/icons/ic_close_24px.svg" ng-click="cart.removeItem(item)" style="width: 24px; height: 24px;"></md-icon>
                </div>
            </li>
            <md-divider style="margin-top: 24px;"></md-divider>
            <br>
            <div ng-if="cart.getTotal() < 150">
                <md-icon md-svg-src="assets/icons/ic_info_outline_24px.svg" style="width: 20px; height: 20px; vertical-align: middle; color: rgb(183,28,28);"></md-icon>
                <span style="vertical-align: middle">Comanda produse de peste 150.00 lei pentru a beneficia de
                    <span style="font-weight : 600">transport GRATUIT!</span>
                </span>
            </div>
            <div class="order-total-block">
                <div class="order-total-display">
                    <div class="" layout layout-align="center center" style="height: 30px; margin-top: 34px;">
                        <span flex></span>
                        <md-input-container class="md-icon-float" flex>
                            <label>Aplica un cod de reducere</label>
                            <md-icon md-svg-src="assets/icons/ic_redeem_24px.svg"></md-icon>
                            <input ng-model="orderDiscount" type="text">
                        </md-input-container>
                        <p class="order-discount single-line" flex>Discount: 0</p>
                    </div>
                    <p class="order-transport single-line">Subtotal:
                        {{ cart.getTotal() | number : 2}}</p>
                    <p class="order-transport single-line">Cost transport:
                        {{cart.shipping() | number : 2}}</p>
                    <p class="order-total single-line">
                        <span class="order-total" style="font-weight:400; color: #e12a2a">{{ cart.getTotal() + cart.shipping() | number : 2}}</span>Total RON:
                    </p>
                </div>
            </div>
        </ul>
        <br>
    </div>
    <br>
    <gd-heading ng-if="cart.items.length" subtitle="Mare pate din aceste optiuni le poti predefini in pagina de setari a contului tau" title="Detalii livrare comanda"></gd-heading>

<!-- DETALII LIVRARE -->

    <div id="account-settings" ng-controller="AccountSettingsCtrl" ng-if="cart.items.length">
<!-- ADDRESS INFO START -->
        <div class="paper account-settings-card settings-card delivery-card">
<!-- NAME START -->
            <h2 class="settings-card-subtitle">Nume si prenume:</h2>
            <div layout style="padding-left: 16px;">
                <md-input-container flex="50" style="max-width: 300px">
                    <label>Numele pe care va fi emisa factura</label>
                    <input aria-label="Nume facturare" name="billing_name" ng-model="order.billing.name" required>
                    <div ng-messages="addressForm.city.$error" ng-show="orderSubmitted || billing_name.$dirty">
                        <div ng-message="required">Camp obligatoriu</div>
                    </div>
                </md-input-container>
            </div>
<!-- NAME END -->
<!-- BILLING TYPE START -->
            <h2 class="settings-card-subtitle">Detalii facturare:</h2>
            <md-radio-group layout ng-change="updateOrder(); discardBusinessForm(); discardAddressForm();" ng-model="order.billing.type">
                <md-radio-button value="personal">
                    <span>Persoana fizica</span>
                </md-radio-button>
                <span flex="5"></span>
                <md-radio-button value="business">
                    <span>Firma</span>
                </md-radio-button>
            </md-radio-group>
            <md-divider></md-divider>
<!-- BILLING TYPE END -->
<!-- BILLING ADDRESS START -->
            <br>
            <br>
            <h2 class="settings-card-subtitle">Adresa livrare:</h2>

            <div ng-show="order.billing.type === 'personal'">
                <div class="header" ng-show="!$root.userData.addresses.length">
                    <div>Nu ai inca o adresa salvata, adauga o adresa mai jos</div>
                </div>
                <md-radio-group ng-model="$root.userData.defaults.address">
                    <div layout layout-align="start center" ng-repeat="address in $root.userData.addresses">
                        <md-radio-button class="address-radio" style="margin-top: 5px; margin-bottom: 5px;" value="{{$index}}">
                            <span>{{address.address}};</span>
                            <span>
                                {{address.city}},</span>
                            <span>
                                jud.
                                {{address.county}},</span>
                            <span>
                                {{address.postcode}}</span>
                        </md-radio-button>
                    </div>
                    <div class="header" style="margin-top: 8px;">
                        <span class="add-new-address" ng-click="showAddressForm = true">+ Adauga o adresa</span>
                    </div>
                </md-radio-group>
            </div>
            <div ng-show="order.billing.type === 'business'">
                <md-radio-group ng-model="$root.userData.defaults.business">
                    <div layout layout-align="start center" ng-repeat="business in $root.userData.businesses">
                        <md-radio-button class="address-radio" style="margin-top: 5px; margin-bottom: 5px;" value="{{$index}}">
                            <span>{{business.name}}
                                •
                            </span>
                            <span>{{business.address}}
                                •
                            </span>
                            <span>{{business.city}}</span>
                            <span>, jud.
                                {{business.county}}</span>
                            <span ng-if="business.postcode">,
                                {{business.postcode}}</span>
                        </md-radio-button>
                    </div>
                    <div class="header" style="margin-top: 8px;">
                        <span class="add-new-business" ng-click="showBusinessForm = true; newbusiness.cif_series = 'RO'">+ Adauga o firma</span>
                    </div>
                </md-radio-group>
            </div>
            <br>
            <md-divider></md-divider>
<!-- BILLING ADDRESS END -->
<!-- NEW ADDRESS / BUSINESS START -->
<!-- PERSONAL ADDRESS -->
            <div class="form" ng-show="showAddressForm">
                <br>
                <form class="address-form" name="addressForm" ng-submit="submitForm(); updateOrder()" novalidate>
                    <div layout-gt-sm="row" layout="column">
                        <md-input-container flex>
                            <label>Oras*</label>
                            <input name="city" ng-model="newaddress.city" required>
                            <div ng-messages="addressForm.city.$error" ng-show="addressFormSubmitted || addressForm.city.$dirty">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </md-input-container>
                        <span flex="5" hide-sm></span>
                        <md-input-container flex>
                            <label>Judet*</label>
                            <input name="county" ng-model="newaddress.county" required>
                            <div ng-messages="addressForm.county.$error" ng-show="addressFormSubmitted || addressForm.county.$dirty">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </md-input-container>
                        <span flex="5" hide-sm></span>
                        <md-input-container flex>
                            <label>Cod postal</label>
                            <input name="title" ng-model="newaddress.postcode">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout="column">
                        <md-input-container flex>
                            <label>Adresa*</label>
                            <input name="address" ng-model="newaddress.address">
                            <div ng-messages="reviewForm.address.$error" ng-show="addressFormSubmitted || addressForm.address.$dirty">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </md-input-container>
                    </div>
                    <span class="disclaimer" style="margin-top: 16px;">* Aceste campuri sunt obligatorii</span>
                    <br>
                    <span class="disclaimer" style="margin-top: 16px;">** Introdu adresa cat mai completa, pentru ca produsele tale sa ajunga la tine fara probleme</span>
                    <br>
                    <br>
                    <md-button class="md-primary md-raised save-form-button" ng-disabled="addressForm.$invalid" type="submit">Salveaza</md-button>
                    <md-button class="md-primary md-raised discard-form-button" md-theme="brand" ng-click="discardAddressForm()" type="button">Anuleaza</md-button>
                </form>
            </div>
<!-- BUSINESS -->
            <div class="form" ng-show="showBusinessForm">
                <form class="business-form" name="businessForm" ng-submit="submitForm(); updateOrder();" novalidate>
                    <md-input-container>
                        <label>Nume firmă*</label>
                        <input name="businessname" ng-model="newbusiness.name" required>
                        <div ng-messages="businessForm.businessname.$error" ng-show="businessFormSubmitted || businessForm.businessname.$dirty">
                            <div ng-message="required">Camp obligatoriu</div>
                        </div>
                    </md-input-container>
                    <div layout="row">
                        <md-input-container flex="10">
                            <md-select aria-label="Serie cif" name="cifseries" ng-model="newbusiness.cif_series" required value="RO">
                                <md-option ng-repeat="item in ['RO', '-']" ng-value="item">{{item}}</md-option>
                            </md-select>
                            <div ng-messages="businessForm.cifseries.$error" ng-show="businessFormSubmitted || businessForm.cifseries.$dirty">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </md-input-container>
                        <span flex="5"></span>
                        <md-input-container flex>
                            <label>CIF*</label>
                            <input aria-label="CIF" name="cif" ng-model="newbusiness.cif" required>
                            <div ng-messages="businessForm.cif.$error" ng-show="businessFormSubmitted || businessForm.cif.$dirty">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-input-container>
                        <label>Reg. Com.*</label>
                        <input name="regcom" ng-model="newbusiness.regcom">
                        <div ng-messages="businessForm.regcom.$error" ng-show="businessFormSubmitted || businessForm.regcom.$dirty">
                            <div ng-message="required">Camp obligatoriu</div>
                        </div>
                    </md-input-container>
                    <div layout-gt-sm="row" layout="column">
                        <md-input-container flex="40">
                            <label>Banca</label>
                            <input name="bankname" ng-model="newbusiness.bank">
                        </md-input-container>
                        <span flex="5"></span>
                        <md-input-container flex="55">
                            <label>Cont</label>
                            <input name="iban" ng-model="newbusiness.iban">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout="column">
                        <md-input-container flex>
                            <label>Oras*</label>
                            <input name="city" ng-model="newbusiness.city" required>
                            <div ng-messages="businessForm.city.$error" ng-show="businessFormSubmitted || businessForm.city.$dirty">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </md-input-container>
                        <span flex="5" hide-sm></span>
                        <md-input-container flex>
                            <label>Judet*</label>
                            <input name="county" ng-model="newbusiness.county" required>
                            <div ng-messages="businessForm.county.$error" ng-show="businessFormSubmitted || businessForm.county.$dirty">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </md-input-container>
                        <span flex="5" hide-sm></span>
                        <md-input-container flex>
                            <label>Cod postal</label>
                            <input name="title" ng-model="newbusiness.postcode">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout="column">
                        <md-input-container flex>
                            <label>Adresa*</label>
                            <input name="address" ng-model="newbusiness.address" required>
                            <div ng-messages="businessForm.address.$error" ng-show="businessFormSubmitted || businessForm.address.$dirty">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </md-input-container>
                    </div>
                    <span class="disclaimer" style="margin-top: 16px;">* Aceste campuri sunt obligatorii</span>
                    <br>
                    <span class="disclaimer" style="margin-top: 16px;">** Introdu adresa cat mai completa, pentru ca produsele tale sa ajunga la tine fara probleme</span>
                    <br>
                    <br>
                    <md-button class="md-primary md-raised save-form-button" ng-disabled="businessForm.$invalid" type="submit">Salveaza</md-button>
                    <md-button class="md-primary md-raised discard-form-button" md-theme="brand" ng-click="discardBusinessForm()" type="button">Anuleaza</md-button>
                </form>
            </div>
<!-- NEW ADDRESS / BUSINESS END -->
<!-- PAYMENT TYPE START -->
            <br>
            <h2 class="settings-card-subtitle">Platesc cu:</h2>
            <div layout>
                <md-radio-group aria-label="Alege modalitatea de plata" ng-model="order.payment.type">
                    <md-radio-button ng-repeat="option in paymentOptions" style="margin-top: 5px; margin-bottom: 5px;" value="{{$index}}">
                        <span>{{option}}</span>
                    </md-radio-button>
                </md-radio-group>
            </div>
            <div class="footer">
                <div>Momentan, aceasta e singura modalitate de plata disponibila. Mai multe in curand</div>
            </div>
            <br>
            <md-divider></md-divider>
<!-- PAYMENT TYPE END -->
<!-- CONTACT START -->
            <br>
            <h2 class="settings-card-subtitle">Pot fi contactat la:</h2>
            <md-input-container style="padding-left: 16px; max-width: 200px">
                <label>Numar de telefon</label>
                <input ng-model="order.contact" type="text">
            </md-input-container>
            <br>
<!-- CONTACT END -->
        </div>
    </div>

<!-- SUMAR COMANDA -->

    <br>
    <gd-heading ng-if="cart.items.length" subtitle="Verificati cu atentie detaliile comenzii inainte de a o trimite" title="Sumar comanda"></gd-heading>
    <div class="gd-table" ng-if="cart.items.length">
<!-- PRODUSE COMANDATE -->
        <div class="subhead">Produse comandate:</div>
        <div ng-repeat="item in cart.items">
            <div layout="" style="padding-left: 16px; margin: 8px 0;">
                <span flex="85">{{item.count}}
                    x
                    {{item.product.name}}
                    •
                    {{item.product.subname}}</span>
                <span flex="5"></span>
                <span flex="10" style="text-align: right;">{{item.count * item.product.new_price | number : 2}}
                    RON</span>
            </div>
        </div>
        <br>
        <div layout="" style="padding-left: 16px; margin: 8px 0;">
            <span flex="85" style="font-weight: bold">Discount:</span>
            <span flex="5"></span>
            <span flex="10" style="text-align: right;">{{order.discount | number : 2}}
                RON</span>
        </div>
        <div layout="" style="padding-left: 16px; margin: 8px 0;">
            <span flex="85" style="font-weight: bold">Subtotal:</span>
            <span flex="5"></span>
            <span flex="10" style="text-align: right;">{{ cart.getTotal() | number : 2}}
                RON</span>
        </div>
        <div layout="" style="padding-left: 16px; margin: 8px 0;">
            <span flex="85" style="font-weight: bold">Cost transport:</span>
            <span flex="5"></span>
            <span flex="10" style="text-align: right;">{{cart.shipping() | number : 2}}
                RON</span>
        </div>
        <div layout="" style="padding-left: 16px; margin: 8px 0;">
            <span flex="85" style="font-weight: bold">Total:</span>
            <span flex="5"></span>
            <span flex="10" style="text-align: right;">{{ cart.getTotal() + cart.shipping() | number : 2}}
                RON</span>
        </div>
        <md-divider></md-divider>
        <br>
<!-- DETALII FACTURARE  -->
        <div class="subhead">Detalii facturare si livrare:</div>
        <div style="padding-left: 16px; margin: 8px 0;">
            <span style="font-weight: bold">Factura in numele:</span>
            {{order.billing.name}}</div>
        <div style="padding-left: 16px; margin: 8px 0;">
            <span style="font-weight: bold">Contact:</span>{{order.contact}}</div>
        <div ng-if="order.billing.type === 'personal'" style="padding-left: 16px; margin: 8px 0;">
            <span style="font-weight: bold">Livrare la:</span>
            <span ng-if="order.billing.address.address">{{order.billing.address.address}};</span>
            <span ng-if="order.billing.address.city">
                {{order.billing.address.city}},</span>
            <span ng-if="order.billing.address.county">
                jud.
                {{order.billing.address.county}},</span>
            <span ng-if="order.billing.address.postcode">
                {{order.billing.address.postcode}}</span>
        </div>
        <div ng-if="order.billing.type === 'business'" style="padding-left: 16px; margin: 8px 0;">
            <span style="font-weight: bold">Livrare la:</span>
            <span ng-if="order.billing.address.name">{{order.billing.address.name}}
                •
            </span>
            <span ng-if="order.billing.address.address">{{order.billing.address.address}}
                •
            </span>
            <span ng-if="order.billing.address.city">{{order.billing.address.city}}</span>
            <span ng-if="order.billing.address.county">, jud.
                {{order.billing.address.county}}</span>
            <span ng-if="order.billing.address.postcode">,
                {{order.billing.address.postcode}}</span>
        </div>
        <div style="padding-left: 16px; margin: 8px 0;">
            <span style="font-weight: bold">Modalitate de plata:</span>
            {{paymentOptions[order.payment.type]}}</div>
        <md-divider></md-divider>
        <br>
<!-- NOTIFICARE -->
        <div class="subhead">Trimite comanda:</div>
        <div style="padding-left: 16px; margin: 8px 0;">
            <span style="font-weight: bold">Atentie:</span>
            Va rugam sa verificati cu atentie produsele din cos, cantitatile,suma de plata si datele de livrare. Acestea nu mai pot fi modificate dupa trimiterea comenzii
        </div>
        <div layout layout-align="start center" style="padding-left: 16px; margin: 8px 0;">
            <md-checkbox aria-label="Acceptare termeni si conditii" ng-model="userAgreement"></md-checkbox>
            <span flex>Prin trimiterea comenzii accept
                <span>
                    <a href="">termenii și condițiile</a>
                </span>
                DAKSports.</span>
        </div>
        <br>
        <button class="dak-button" md-ink-ripple md-theme="brand" ng-disabled="!userAgreement" style="padding-left: 16px; margin-left: 16px;" type="button" ng-click="placeOrder($event);">
            <div class="icon-bg"></div>
            <md-icon md-svg-src="assets/icons/ic_send_24px.svg" style="position: relative; margin-right: 16px; color: #fff"></md-icon>
            Trimite comanda
            <div class="button-border"></div>
        </button>
    </div>
</div>
