.cart-heading {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 48px;
    line-height: 48px;
    padding: 0 16px;
    margin-top: 16px;
    position: relative;
    text-align: left;
    cursor: default;
    .cart-heading-title {
        max-width: 80%;
        clear: both;
        font-size: 24px;
        line-height: 24px;
        font-weight: 100;
        float: left;
    }
    .cart-heading-subtitle {
        position: absolute;
        line-height: 14px;
        left: 16px;
        top: 30px;
        color: #555;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        padding-bottom: 4px;
    }
    .cart-heading-button {
        float: right;
        line-height: 32px;
    }
}

.empty-cart-button {
    color: rgba(0,0,0,.54);
    cursor: pointer;
    &:hover{
        color: rgba(0,0,0,.87);
    }
}

.order-total-block {
    height: 100px;
    .order-total,
    .order-transport,
    .order-discount {
        max-width: 80%;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 300;
        float: right;
        clear: both;
    }
    .order-transport,
    .order-discount {
        font-size: 18px;
        text-align: right;
    }
    .order-total-display{
    }
}

.cancel-cart-item{
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgba(0,0,0,.54);
    cursor: pointer;
    &:hover{
        color: rgba(0,0,0,.87);
    }
}

.delivery-card{
    max-width: none;
    padding: 16px;
}

.add-new-address,
.add-new-business{
    margin-left: 16px;
    color: rgb(183,28,28);
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }    
}
.add-business-address{
    color: rgb(183,28,28);
    margin-left: 24px;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }    
}
