<div class="links-wrapper" layout-gt-sm="row" layout-wrap layout="column">
    <div class="links-col-1" flex flex-gt-sm="25">
        <h3 class="links-col-title md-title">Servicii</h3>
        <a class="body1" href="#">Deschiderea coletului la livrare</a>
        <a class="body1" href="#">30 de zile drept de retur</a>
        <a class="body1" href="#">Garantii si service</a>
        <a class="body1" href="#">Suport 24/7</a>
        <div class="gd-separator"></div>
    </div>
    <div class="links-col-2" flex flex-gt-sm="25">
        <h3 class="links-col-title md-title">Comenzi si livrare</h3>
        <a class="body1" href="#">Contul meu</a>
        <a class="body1" href="#">Cum comand online?</a>
        <a class="body1" href="#">Livrarea comenzilor</a>
        <a class="body1" href="#">Vanzari corporate</a>
        <div class="gd-separator"></div>
    </div>
    <div class="links-col-3" flex flex-gt-sm="25">
        <h3 class="links-col-title md-title">Suport clienti</h3>
        <a class="body1" href="#">Suport 24/7</a>
        <a class="body1" href="#">Formulare</a>
        <a class="body1" href="#">Intrebari frecvente</a>
        <a class="body1" href="#">Contact</a>
        <div class="gd-separator"></div>
    </div>
    <div class="links-col-4" flex flex-gt-sm="25">
        <h3 class="links-col-title md-title">DAKSports.ro</h3>
        <a class="body1" href="#">Showroom</a>
        <a class="body1" href="#">Termeni si conditii</a>
        <a class="body1" href="#">Prelucrarea datelor cu caracter personal</a>
        <a class="body1" href="#">Politica de utilizare Cookie-uri</a>
        <a class="body1" href="#">ANPC</a>
    </div>
</div>
<div class="copyright-bar">
    <span style="position:absolute; width:100%; text-align:center; font-size: 14px; line-height:48px; font-weight: 300;">© Copyright Daksports 2015</span>
</div>
