#bottom-bar {
    padding: 16px;
    margin-top: 56px;
    .links-wrapper {
        position: relative;
        [class*="links-col-"] {
            position: relative;
            h3 {
                margin-bottom: 24px;
                font-weight: 400;
            }
            a {
                display: block;
                text-decoration: none;
                color: rgba(0,0,0,.54);
                margin-bottom: 5px;
                &:hover {
                    color: rgba(0,0,0,.87);
                    text-decoration: underline;
                }
            }
        }
        .links-col-2,
        .links-col-3,
        .links-col-4 {
            padding-left: 16px;
        }
        .gd-separator {
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            height: 100%;
        }
    }
    .copyright-bar {
        position: relative;
        display: block;
        width: 100%;
        height: 48px;
        margin-top: 16px;
    }
}
