.recent {
    .recent-tiles-row {
        margin: 0 -8px;
    }
    .gd-heading{
        height: 16px;
        margin-top: 0;
        .heading-subtitle{
            top: 0;
            line-height: 20px;
        }
    }
    .recent-cell {
        position: relative;
        padding: 8px;
        border: 1px solid rgba(0,0,0,.10);
        .recent-tile {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            filter:grayscale(1);
            cursor: pointer;
            &:hover{
                filter:grayscale(0);
            }
        }
    }
    .active {
        .recent-cell {
            border: 10px solid rgba(0,0,0,.10);
            .recent-tile {
                filter:grayscale(0);
            }
        }
    }
    .recent-content {
        width: 100%;
        min-height: 196px;
    }
}
