<div class="side-nav l-pinned-left l-layer-4 l-offset-nav">
<!-- SEARCH BAR-->
    <header class="side-nav-search st-input-wrapper">
        <form class="st-input-inner ng-pristine ng-valid">
            <label class="is-hidden" for="search-io">Search Docs</label><input autocapitalize="off" autocomplete="off" autocorrect="off" id="search-io" placeholder="SEARCH DOCS..." style="outline: none;" type="search"></form>
        <button aria-label="View Docs Menu" class="mobile-trigger button md-button md-default-theme" md-button="md-button" ng-click="toggleDocsMenu($event)" ng-transclude="" tabindex="0">
            <span class="ng-scope">Docs
            </span>
            <span class="icon icon-arrow-drop-down ng-scope"></span>
        </button>
    </header>
<!-- PRIMARY NAVIGATION-->
    <ul class="side-nav-primary" ng-class="showDocsNav ? 'is-visible' : ''">
        <li class="is-selected">
            <a href="/docs/js/latest/index.html" md-button="" ng-transclude="">
                <span class="side-nav-icon icon-home ng-scope"></span>
                <span class="ng-scope">
                    Docs Home</span>
                <div class="md-ripple-container"></div>
            </a>
        </li>
<!-- SECONDARY NAVIGATION-->
        <li>
            <a href="/docs/js/latest/quickstart.html" md-button="" ng-transclude="">
                <span class="side-nav-icon icon-query-builder ng-scope"></span>
                <span class="ng-scope">
                    5 Min Quickstart</span>
            </a>
        </li>
<!-- SECONDARY NAVIGATION-->
        <li>
            <a href="/docs/js/latest/guide/" md-button="" ng-transclude="">
                <span class="side-nav-icon icon-list ng-scope"></span>
                <span class="ng-scope">
                    Step By Step Guide</span>
            </a>
        </li>
<!-- SECONDARY NAVIGATION-->
        <li>
            <a href="/docs/js/latest/api/" md-button="" ng-transclude="">
                <span class="side-nav-icon icon-book ng-scope"></span>
                <span class="ng-scope">
                    API Preview</span>
            </a>
        </li>
<!-- SECONDARY NAVIGATION-->
        <li>
            <a href="/docs/js/latest/resources.html" md-button="" ng-transclude="">
                <span class="side-nav-icon icon-play-circle-fill ng-scope"></span>
                <span class="ng-scope">
                    Angular Resources</span>
            </a>
        </li>
<!-- SECONDARY NAVIGATION-->
        <li>
            <a href="/docs/js/latest/help.html" md-button="" ng-transclude="">
                <span class="side-nav-icon icon-chat ng-scope"></span>
                <span class="ng-scope">
                    Help &amp; Support</span>
            </a>
        </li>
<!-- SECONDARY NAVIGATION-->
    </ul>
</div>