<h1>This is the contacts view.</h1>
<div layout layout-align="center center">
    <div id="login" ng-controller='SaveCtrl'>
        <form class="" layout-align="center center" layout="column" method="post" ng-submit="check_credentials()">
            <md-input-container>
                <label>Company Name</label>
                <input ng-model="companyname" type="text">
            </md-input-container>
            <md-input-container>
                <label>City</label>
                <input ng-model="city" type="text">
            </md-input-container>
            <md-input-container>
                <label>Country</label>
                <input ng-model="country" type="text">
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit">Click me</md-button>
        </form>
    </div>
</div>
