<div class="page-hero">
<!-- Slider -->
    <div class="hero-slider">
        <gd-slider class="gd-slider ar_16-9">
            <div ="playSlider()" class="gd-slides" ng-controller="GdSlider" ng-mouseleave ng-mouseover="pauseSlider()">
                <gd-slide class="gd-slide ar_16-9" gd-slide-src="{{slide}}" ng-repeat="slide in slides" style="transform:translateX({{$index * 100}}%);"></gd-slide>
            </div>
            <div ="playSlider()" class="gd-slider-controls" ng-mouseleave ng-mouseover="pauseSlider()">
                <div class="gd-slider-control prev l-left" md-ink-ripple ng-click="prevSlide()">
                    <i class="material-icons md-48">&#xE5CB;</i>
                </div>
                <div class="gd-slider-control next l-right" md-ink-ripple ng-click="nextSlide()">
                    <i class="material-icons md-48">&#xE5CC;</i>
                </div>
            </div>
        </gd-slider>
    </div>

</div>

<!-- Ads -->
<div class="gd-banner-container" ng-controller="BannersCtrl" layout="column" layout-gt-sm="row" layout-margin>
    <gd-banner flex banner-src="banner" class="cell" ng-repeat="banner in banners | shuffle | limitTo:3:start"></gd-banner>
</div>

<!-- Recommended -->
<gd-carousel gdc-items="10" gdc-lg-size="5" gdc-md-size="4" gdc-sm-size="3" gdc-start="0" gdc-xs-size="2" items="products"></gd-carousel>

<div class="gd-banner-container" layout="column" layout-gt-sm="row" layout-margin>
    <gd-card flex card-resource="products[13]" gd-brand="{{item.brand}}" gd-excerpt="{{item.excerpt}}" gd-price="{{item.price}}" gd-src="{{item.file1}}" gd-subtitle="{{item.subname}}" gd-tile gd-title="{{item.name}}"></gd-card>
    <gd-card flex card-resource="products[22]" gd-brand="{{item.brand}}" gd-excerpt="{{item.excerpt}}" gd-price="{{item.price}}" gd-src="{{item.file1}}" gd-subtitle="{{item.subname}}" gd-tile gd-title="{{item.name}}"></gd-card>
    <gd-card flex card-resource="products[25]" gd-brand="{{item.brand}}" gd-excerpt="{{item.excerpt}}" gd-price="{{item.price}}" gd-src="{{item.file1}}" gd-subtitle="{{item.subname}}" gd-tile gd-title="{{item.name}}"></gd-card>
</div>

<md-dialog aria-label="Product details">
  <form name="detailsForm" novalidate>
      <div layout layout-sm="column">
          <md-input-container>
            <label>Marime</label>
            <md-select ng-model="size">
              <md-option value="XS">XS</md-option>
              <md-option value="S">S</md-option>
              <md-option value="M">M</md-option>
              <md-option value="L">L</md-option>
              <md-option value="XL">XL</md-option>
            </md-select>
          </md-input-container>
      </div>
  </form>
</md-dialog>
