<!-- Slider -->
<div class="hero-slider">
    <gd-slider class="gd-slider ar_16-9">
        <div class="gd-slides"  ng-controller="GdSlider" ng-mouseover="pauseSlider()" ng-mouseleave = "playSlider()">
            <gd-slide class="gd-slide ar_16-9" ng-repeat="slide in slides" gd-slide-src="{{slide}}" style="transform:translateX({{$index * 100}}%);"></gd-slide>
        </div>
        <div class="gd-slider-controls" ng-mouseover="pauseSlider()" ng-mouseleave = "playSlider()">
            <div class="gd-slider-control prev l-left" md-ink-ripple ng-click="prevSlide()">
                <i class="material-icons md-48">&#xE5CB;</i>
            </div>
            <div class="gd-slider-control next l-right" md-ink-ripple ng-click="nextSlide()">
                <i class="material-icons md-48">&#xE5CC;</i>
            </div>
        </div>
    </gd-slider>
</div>

<!-- Recommended -->
<gd-carousel gdc-items="10" gdc-lg-size="5" gdc-md-size="4" gdc-sm-size="3" gdc-start="1" gdc-xs-size="2" items="products">
</gd-carousel>
