<div class="md-menu-demo" ng-controller="PositionDemoCtrl as ctrl">
    <div class="menu-demo-container" layout-align="center center" layout="column">
        <div class="menus" layout-align="space-between center" layout-fill layout-wrap layout="row">
            <div flex-sm="100" flex="33" layout-align="center center" layout="column">
                <p>
                    <code>md-position-mode="target-right target"</code>
                </p>
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                        <md-icon md-menu-origin md-svg-icon="call:portable-wifi-off"><i class="material-icons">&#xE5D4;</i></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="item in [1, 2, 3]">
                            <md-button ng-click="ctrl.announceClick($index)">
                                <p>Option
                                    {{item}}</p>
                                <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off"></md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <div flex-sm="100" flex="33" layout-align="center center" layout="column">
                <p>
                    <code>md-position-mode="target-right target"</code>
                </p>
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                        <md-icon md-menu-origin><i class="material-icons">&#xE5D4;</i></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="item in [1, 2, 3]">
                            <md-button ng-click="ctrl.announceClick($index)">
                                <p>Option
                                    {{item}}</p>
                                <md-icon md-menu-align-target><i class="material-icons">&#xE5D4;</i></md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>
</div>
