<!-- Detalii produs -->
<section>
    <md-autocomplete md-item-text="item.name" md-items="item in querySearch(searchText)" md-menu-class="autocomplete-custom-template" md-min-length="0" md-no-cache="false" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-selected-item="selectedItem" ng-disabled="false" ng-if="state==='add'" placeholder="Alege un template">
        <md-item-template>
            <span class="item-thumb" style="background-image: url({{item.file1 | lowres}})"></span>
            <span class="item-title">
                {{item.name}}
            </span>
            <span class="item-subtitle">
                {{item.subname}}
            </span>
        </md-item-template>
    </md-autocomplete>
    <h2 class="md-headline" style="margin-top: 32px;">Detalii produs</h2>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Nume produs</label>
            <input ng-model="product.name" required>
        </md-input-container>
        <md-input-container flex>
            <label>Sub-nume</label>
            <input ng-model="product.subname">
        </md-input-container>
        <span flex="5"></span>
        <div flex layout>
            <md-input-container>
                <label>Brand</label>
                <md-select ng-model="product.brand">
                    <md-option ng-repeat="brand in $root.brands" value="{{brand}}">{{brand}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Adauga un brand</label>
                <input ng-model="product.brand">
            </md-input-container>
        </div>
    </div>
    <div layout layout-sm="column">
        <div flex layout>
            <md-input-container>
                <label>Categorie</label>
                <md-select ng-change="setShort()" ng-model="product.type">
                    <md-option ng-repeat="item in $root.types" value="{{item.type}}">{{item.type}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Adauga o categorie</label>
                <input ng-model="product.type">
            </md-input-container>
        </div>
        <span flex="5"></span>
        <div flex layout>
            <md-input-container>
                <label>Sub-categorie</label>
                <md-select ng-model="product.kind">
                    <md-option ng-repeat="kind in kinds" value="{{kind}}">{{kind}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Adauga o sub-categorie</label>
                <input ng-model="product.kind">
            </md-input-container>
        </div>
        <div flex layout>
            <md-input-container flex>
                <label>Cod produs</label>
                <span class="product-code-series">DAK</span>
                <input ng-model="product.code" style="text-indent: 26px;">
            </md-input-container>
        </div>
    </div>
    <md-chips delete-button-label="Sterge Tag" delete-hint="Apasa delete ca sa stergi tag" ng-if="ready" ng-model="product.tags" placeholder="Introdu un Tag" readonly="false" secondary-placeholder="+Tag"></md-chips>
    <br>
    <md-input-container flex>
        <label>Descriere scurta</label>
        <input md-maxlength="80" ng-model="product.excerpt">
    </md-input-container>
    <md-input-container flex>
        <label>Descriere</label>
        <textarea columns="1" ng-model="product.description"></textarea>
    </md-input-container>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Pret (RON)</label>
            <input name="price" ng-model="product.price" required step="any" type="number">
            <div ng-messages="productForm.price.$error" ng-show="productForm.price.$invalid && productForm.price.$dirty || productForm.submitted">
                <div ng-message="required">Introduceti un pret</div>
                <div ng-message="number">Doar cifrele sunt permise</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Inventar</label>
            <input name="inv" ng-model="product.inv" required step="any" type="number">
            <div ng-messages="productForm.price.$error" ng-show="productForm.price.$invalid && productForm.price.$dirty || productForm.submitted">
                <div ng-message="number">Doar cifrele sunt permise</div>
            </div>
        </md-input-container>
        <md-input-container flex="">
            <label>Data publicarii</label>
            <input ng-model="product.added" type="date">
        </md-input-container>
    </div>
</section>
<!-- Setari promo -->
<section layout layout-sm="column">
<!-- Promo settings -->
    <div class="promo-settings" flex="75">
        <gd-heading title="Setari promo"></gd-heading>
        <md-switch aria-label="is promo" name="promo" ng-false-value="0" ng-model="product.promo" ng-true-value="1"></md-switch>
        <div layout="column">

            <md-input-container flex>
                <label>Pret promo</label>
                <input name="promoprice" ng-disabled="!product.promo" ng-model="product.promo_price" step="any" type="number">
                <div ng-messages="productForm.promoprice.$error" ng-show="productForm.promoprice.$invalid && productForm.promoprice.$dirty">
                    <div ng-message="number">Doar cifrele sunt permise</div>
                </div>
            </md-input-container>

            <div layout-gt-sm="row" layout="column">

                <div flex="40" layout="column">
                    <div flex layout layout-align="start center">
                        <md-checkbox aria-label="is promo" name="promostockcheck" ng-disabled="!product.promo" ng-false-value="0" ng-model="product.promoStockCheck" ng-true-value="1">
                            Promo pe stoc definit
                        </md-checkbox>
                    </div>
                    <md-input-container flex>
                        <label>Stoc disponibil promo</label>
                        <input name="promostock" ng-disabled="!product.promoStockCheck" ng-model="product.promo_stock" step="any" type="number">
                        <div ng-messages="productForm.promostock.$error" ng-show="productForm.promostock.$invalid && productForm.promostock.$dirty">
                            <div ng-message="number">Doar cifrele sunt permise</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="40" layout="column" offset-gt-sm="20">
                    <div flex layout layout-align="start center">
                        <md-checkbox aria-label="is promo" name="promodatecheck" ng-disabled="!product.promo" ng-false-value="0" ng-model="product.promoDateCheck" ng-true-value="1">
                            Promo pe perioada definita
                        </md-checkbox>
                    </div>
                    <md-input-container flex>
                        <label>Data limita a promotiei</label>
                        <input ng-disabled="!product.promoDateCheck" ng-model="product.promo_end" type="date">
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
<!-- Card preview -->
    <div class="" flex="25">
        <gd-heading title="Preview card"></gd-heading>
        <div id="card-preview" layout layout-sm="column" ng-include="'app/views/admin/admin.preview.card.inc.html'" style=""></div>
    </div>
</section>
<!-- Poze produs -->
<section>
    <h2 class="md-headline" style="margin-top: 32px;">Adauga poze</h2>
    <div layout-gt-lg="row" layout="column">
        <md-input-container flex>
            <md-checkbox aria-label="culori disponibile" name="availableColours" ng-false-value="0" ng-model="product.coloursCheck" ng-true-value="1">
                Disponibil in mai multe culori
            </md-checkbox>
        </md-input-container>
        <div class="colour-select" layout layout-wrap>
            <div class="paper resting colour-selection" ng-class="{enabled : product.coloursCheck, faded : !isColour(colour)}" ng-click="toggleColour(colour)" ng-repeat="colour in colours" ng-show="product.coloursCheck" style="background-color: {{colour}}"></div>
        </div>
    </div>
    <div ng-include="'app/views/admin/admin.upload.inc.html'"></div>
</section>
<!-- Submit -->
<div layout layout-sm="column" style="margin: 32px -8px 0;">
    <md-button class="md-raised md-primary" flex ng-cloak ng-disabled="!productForm.$valid" type="submit">{{ buttonTitle }}</md-button>
</md-input-container>
</div>