.file-upload {
    position: relative;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    .search-file {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        pointer-events: none;
        user-select: none;
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.2s ease;
    }
    .remove-file {
        position: absolute;
        top: 0;
        right: 0;
    }
    input[type="file"] {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }
    &:hover {.search-file {
            opacity: 1;
        }
        .hoverlay {
            opacity: 1;
        }
    }
}
.colour-selection {
    width: 32px;
    height: 32px;
    margin: 4px;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    transition: all 0.28s ease;
    @extend .raised;
    &.enabled {
        pointer-events: all;
    }
    &.active {
        opacity: 1;
    }
    &.faded {
        opacity: 0.33;
    }
}
#card-preview {.gd-card {
        margin: auto;
    }
}

// LIST
.filter-field {
    width: 70%;
    margin: auto;
    input {
        font-family: "Roboto Mono", Roboto, sans-serif;
    }
}

// List
.list-view {
    width: 100%;
    margin: auto;
    background-color: #fff;
}
.list-item {
    height: 128px;
    padding: 0 16px;
    background-color: #fff;
}
.list-header {
    width: 96px;
    height: 96px;
    margin: 16px 0;
    display: none;
    .bubble {
        width: 80px;
        height: 80px;
        margin: 8px 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.list-detail {
    padding: 32px 16px;
    h3,
    p {
        margin: 0;
        padding: 0;
    }
    .name {
        color: #333;
        font-size: 22px;
        font-weight: 300;
        white-space: normal;
    }
    .subname {
        font-weight: 700;
        font-size: 13px;
        color: #616161;
        vertical-align: top;
    }
    .cats {
        color: #aaa;
        display: block;
        font-size: 13px;
        line-height: 16px;
        margin-top: 6px;
        overflow: hidden;
        white-space: nowrap;
    }
}
.list-actions {
    padding: 40px 0;
    button {
        margin: 0;
    }
}
.list-detail,
.list-actions {
    border-bottom: 1px solid #e9e9e9;
}
@media #{$small-and-up} {.list-view {

    }
    .list-header {
        display: block;
    }
    .list-detail {
        padding: 32px;
    }
}
@media #{$medium-and-up} {.list-view {

    }
}
.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}
.autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}
.autocomplete-custom-template .item-thumb {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 16px;
}
.autocomplete-custom-template .item-title,
 {
    display: block;
    font-size: 16px;
    line-height: 24px;
    max-width: 200px;
    max-height: 36px;
    min-height: 18px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    font-weight: 300;
}
.autocomplete-custom-template .item-subtitle {
    color: #aaa;
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin: 1px 0;
    max-width: 132px;
    overflow: hidden;
    white-space: nowrap;
}
.autocomplete-custom-template .item-title md-icon {
    height: 18px;
    width: 18px;
}

// ADD/EDIT FORM
.product-code-series {
    position: absolute;

    // top: 25px;
    bottom: 33px;
    user-select: none;
    pointer-events: none;
}

// TAGS
.md-chip-input-container {
    font-size: 14px;
    &::-webkit-input-placeholder {
        color: red;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: red;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: red;
    }
    &:-ms-input-placeholder {
        color: red;
    }
}
