<gd-table class="gd-table" ng-controller="GdTable as table">
    <gd-table-header class="gd-table-header"></gd-table-header>
    <gd-table-row class="gd-table-row" data="item" ng-class="{selected : table.isActive(item.code)}" ng-click="table.toggle(item.code)" ng-repeat="item in $root.products track by $index">
        <div class="row-media" style="background-image: url({{item.file1}})"></div>
        <div class="row-title">{{item.name}}</div>
        <div class="row-subtitle">{{item.subname}}</div>
        <div class="row-info" ng-class="{'promo-price' : item.promo}"><span style="font-weight: lighter; font-size: 13px;">RON </span>{{item.new_price}}</div>
        <div class="row-excerpt">{{item.excerpt}}</div>
        <div class="row-actions">
            <div class="supplemental-actions l-right">
                <a class="md-icon-button" md-button ng-href="/product/{{item.id}}">
                    <md-icon height="18px" md-svg-src="assets/icons/ic_open_in_new_24px.svg" width="18px"></md-icon>
                </a>
                <md-button class="md-icon-button" ng-click="table.viewCard()">
                    <md-icon height="18px" md-svg-src="assets/icons/ic_view_carousel_24px.svg" width="18px"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="table.publish(item.code)">
                    <md-icon height="18px" md-svg-src="assets/icons/ic_done_24px.svg" width="18px"></md-icon>
                </md-button>
            </div>
            <div class="menu-action l-right">
                <md-button class="md-icon-button" ng-click="table.openMore()">
                    <md-icon height="18px" md-svg-src="assets/icons/ic_more_vert_24px.svg" width="18px"></md-icon>
                </md-button>
            </div>
        </div>
<!-- <div style="position:absolute; margin:auto; top:0; bottom: 0; left: 0; right: 0; height:1px; background-color: rgba(0,0,0,.12)"></div> -->
    <div class="hoverlay"></div>
    </gd-table-row>
</gd-table>