<div class="wrapper l-offset-nav">
    <md-content class="paper resting" layout-padding>
        <h2 class="md-headline" style="margin-top: 32px;">Detalii produs</h2>
        <form name="productForm" ng-submit="insertProduct(product)" novalidate>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Nume produs</label>
                    <input ng-model="product.name">
                </md-input-container>
                <md-input-container flex>
                    <label>Sub-nume</label>
                    <input ng-model="product.subname">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <div flex layout>
                    <md-input-container>
                        <label>Brand</label>
                        <md-select ng-model="product.brand">
                            <md-option ng-repeat="brand in $root.brands" value="{{brand}}">{{brand}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Adauga un brand</label>
                        <input ng-model="product.brand">
                    </md-input-container>
                </div>
                <span flex="5"></span>
                <div flex layout>
                    <md-input-container>
                        <label>Categorie</label>
                        <md-select ng-model="product.main_cat">
                            <md-option ng-repeat="cat in $root.main_cats" value="{{cat}}">{{cat}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Adauga o categorie</label>
                        <input ng-model="product.main_cat">
                    </md-input-container>
                </div>
                <span flex="5"></span>
                <div flex layout>
                    <md-input-container>
                        <label>Sub-categorie</label>
                        <md-select ng-model="product.sub_cat">
                            <md-option ng-repeat="cat in sub_cats" value="{{cat}}">{{cat}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Adauga o sub-categorie</label>
                        <input ng-model="product.sub_cat">
                    </md-input-container>
                </div>
            </div>
            <md-input-container flex>
                <label>Descriere scurta</label>
                <input md-maxlength="80" ng-model="product.excerpt">
            </md-input-container>
            <md-input-container flex>
                <label>Descriere</label>
                <textarea columns="1" ng-model="product.description"></textarea>
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Pret (RON)</label>
                    <input name="price" ng-model="product.price" required step="any" type="number">
                    <div ng-messages="productForm.price.$error" ng-show="productForm.price.$invalid && productForm.price.$dirty || productForm.submitted">
                        <div ng-message="required">Introduceti un pret</div>
                        <div ng-message="number">Doar cifrele sunt permise</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Inventar pornire</label>
                    <input name="inv" ng-model="product.inv" required step="any" type="number">
                    <div ng-messages="productForm.price.$error" ng-show="productForm.price.$invalid && productForm.price.$dirty || productForm.submitted">
                        <div ng-message="number">Doar cifrele sunt permise</div>
                    </div>
                </md-input-container>
                <md-input-container flex="">
                    <label>Data publicarii</label>
                    <input ng-model="product.added" type="date">
                </md-input-container>
            </div>
<!-- <md-divider></md-divider> -->
            <h2 class="md-headline" style="margin-top: 32px;">Setari promo</h2>
            <md-switch aria-label="is promo" name="promo" ng-model="product.promo" ng-true-value="1" ng-false-value="0"></md-switch>
            <div layout="column">

                <md-input-container flex>
                    <label>Pret promo</label>
                    <input name="promoprice" ng-disabled="!product.promo" ng-model="product.promo_price" step="any" type="number">
                    <div ng-messages="productForm.promoprice.$error" ng-show="productForm.promoprice.$invalid && productForm.promoprice.$dirty">
                        <div ng-message="number">Doar cifrele sunt permise</div>
                    </div>
                </md-input-container>

                <div layout-gt-sm="row" layout="column">

                    <div flex="40" layout="column">
                        <div flex layout layout-align="start center">
                            <md-checkbox aria-label="is promo" name="promostockcheck" ng-disabled="!product.promo" ng-model="product.promoStockCheck">
                                Promo pe stoc definit
                            </md-checkbox>
                        </div>
                        <md-input-container flex>
                            <label>Stoc disponibil promo</label>
                            <input name="promostock" ng-disabled="!product.promoStockCheck" ng-model="product.promo_stock" step="any" type="number">
                            <div ng-messages="productForm.promostock.$error" ng-show="productForm.promostock.$invalid && productForm.promostock.$dirty">
                                <div ng-message="number">Doar cifrele sunt permise</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="40" layout="column" offset-gt-sm="20">
                        <div flex layout layout-align="start center">
                            <md-checkbox aria-label="is promo" name="promodatecheck" ng-disabled="!product.promo" ng-model="product.promoDateCheck">
                                Promo pe perioada definita
                            </md-checkbox>
                        </div>
                        <md-input-container flex>
                            <label>Data limita a promotiei</label>
                            <input ng-disabled="!product.promoDateCheck" ng-model="product.promo_end" type="date">
                        </md-input-container>
                    </div>
                </div>
            </div>
<!-- <md-divider></md-divider> -->
            <h2 class="md-headline" style="margin-top: 32px;">Adauga poze</h2>
            <div ng-include="'app/views/admin/upload.inc.html'"></div>

            <div layout layout-sm="column" style="margin-top: 32px;">
                <md-input-container flex="">
                    <md-button class="md-raised md-primary" ng-cloak ng-disabled="!productForm.$valid" type="submit">Adauga Produs</md-button>
                </md-input-container>
            </div>
        </form>
    </md-content>
</div>
