<!-- main menu -->
<ul class="main-menu" ng-class="{left : subToggle}">
    <li class="parent-list-item active">
        <a href="/recomandari" ng-click="focusSection()">
            <span class="icon-container">
                <md-icon md-svg-src="assets//icons/nav_whatshot_white_24px.svg"></md-icon>
            </span>
            <span class="list-item-title">
                Recomandari
            </span>
        </a>
    </li>
    <li class="parent-list-item">
        <a href="/promotii" ng-click="focusSection()">
            <span class="icon-container">
                <md-icon md-svg-src="assets//icons/nav_promo_white_24px.svg"></md-icon>
            </span>
            <span class="list-item-title">
                Promotii
            </span>
        </a>
    </li>
    <li class="parent-list-item">
        <a href="/promotii" ng-click="toggleSports()">
            <span class="icon-container">
                <md-icon md-svg-src="assets//icons/nav_sports_white_24px.svg"></md-icon>
            </span>
            <span class="list-item-title">
                Sporturi
            </span>
        </a>
    </li>
    <li class="parent-list-item">
        <a href="/promotii" ng-click="focusSection()">
            <span class="icon-container">
                <md-icon md-svg-src="assets//icons/nav_outdoor_white_24px.svg"></md-icon>
            </span>
            <span class="list-item-title">
                Outdoor
            </span>
        </a>
    </li>
    <li class="parent-list-item">
        <a href="/promotii" ng-click="focusSection()">
            <span class="icon-container">
                <md-icon md-svg-src="assets//icons/nav_fitness_white_24px.svg"></md-icon>
            </span>
            <span class="list-item-title">
                Fitness
            </span>
        </a>
    </li>
    <li class="parent-list-item">
        <a href="/promotii" ng-click="focusSection()">
            <span class="icon-container">
                <md-icon md-svg-src="assets//icons/nav_running_white_24px.svg"></md-icon>
            </span>
            <span class="list-item-title">
                Alergare
            </span>
        </a>
    </li>
    <li class="parent-list-item">
        <a href="/promotii" ng-click="focusSection()">
            <span class="icon-container">
                <md-icon md-svg-src="assets//icons/nav_accessories_white_24px.svg"></md-icon>
            </span>
            <span class="list-item-title">
                Accesorii
            </span>
        </a>
    </li>
    <!-- <md-divider></md-divider> -->
    <li class="account-list-item">
        <a href="/promotii" ng-click="toggleAccount()" ng-if="$root.logged">
            <span class="icon-container">
                <div aria-label="View Account" class="account-photo" class="md-icon-button l-right" ng-href="/account/dashboard" ng-show="$root.logged" style="background-image: url({{$root.userData.user_photo}})"></div>
                <i class="material-icons" ng-hide="$root.logged">&#xE853;</i>
            </span>
            <span class="list-item-title">
                Contul meu
            </span>
        </a>
    </li>
</ul>

<!-- submenus -->
<div class="submenus" ng-show="subToggle">
    <div class="sub-menu animate-if" ng-if="sports" ng-include="'app/components/navigation/nav.inc.sports.html'"></div>
    <div class="sub-menu animate-if" ng-if="accountMenu" ng-include="'app/components/navigation/nav.inc.account.html'"></div>
</div>


<div class="main-menu-toggle" ng-show="subToggle">
    <div class="toggle-arrow"></div>
    <div class="toggle-strip" ng-click="mainToggle()">
        <div class="strip-text">
            <i class="material-icons">&#xE314;</i>
        </div>
    </div>
</div>
