<ul>
    <li>
        <a class="single-line" href="/HEAD">
            Favorite
        </a>
    </li>
    <li>
        <a class="single-line" href="/HEAD">
            Lista de cumparaturi
        </a>
    </li>
    <li>
        <a class="single-line" href="/HEAD">
            Date personale
        </a>
    </li>
    <li>
        <a class="single-line" href="/HEAD">
            Setari siguranta
        </a>
    </li>
    <li>
        <a class="single-line" href="/HEAD">
            Abonarile mele
        </a>
    </li>
    <li>
        <a class="single-line" href="/HEAD">
            Istoric comenzi
        </a>
    </li>
    <li>
        <a class="single-line" href="/HEAD">
            Garantiile mele
        </a>
    </li>
    <li>
        <a class="single-line" href="/HEAD">
            Review-urile mele
        </a>
    </li>
    <li>
        <a class="single-line" href="/HEAD" ng-click="logout()">
            Logout
        </a>
    </li>
</ul>
