<div class="nav-section-title">Filtreaza dupa:</div>
<!-- brand filter -->
<div ng-controller="NavListCtrl as list">
    <div class="nav-item-container" ng-class="{expanded : list.expanded}">
        Branduri
        <md-icon class="reset-icon" md-svg-src="assets/icons/ic_close_24px.svg" style="margin-left: 8px; width:16px;"></md-icon>
        <md-icon class="right-icon l-right" md-svg-src="assets/icons/ic_keyboard_arrow_down_black_24px.svg" ng-click="list.expand();" style="width:20px;"></md-icon>
    </div>
    <div class="nav-items-list" style="max-height:{{results.length * list.size}}px;">
        <md-checkbox ng-repeat="brand in $root.brands | filter: q as results" ng-click="GdFilter.toggle(brand, GdFilter.selectedBrands, 'brands')">
            {{ brand}}
            <span style="color: rgba(0,0,0,.54)">• ({{ GdFilter.count(brand, 'brands')}})</span>
        </md-checkbox>
    </div>
</div>
