<div class="nav-section-title">Filtreaza dupa:</div>
<!-- brand filter -->
<div ng-controller="NavListCtrl as list">
    <div class="nav-item-container" ng-class="{expanded : list.expanded}">
        Branduri
        <md-icon class="reset-icon" md-svg-src="assets/icons/ic_close_24px.svg" ng-click="BrandFilter.reset()" ng-show="BrandFilter.selected.length" style="margin-left: 8px; width:16px;"></md-icon>
        <md-icon class="right-icon l-right" md-svg-src="assets/icons/ic_keyboard_arrow_down_black_24px.svg" ng-click="list.expand();" style="width:20px;"></md-icon>
    </div>
    <div class="nav-items-list" style="max-height:{{results.length * list.size}}px;">
        <md-checkbox ng-checked="BrandFilter.exists(brand)" ng-click="BrandFilter.toggle(brand)" ng-repeat="brand in $root.brands | filter: q as results" ng-disabled="!BrandFilter.count(brand)" ng-show="BrandFilter.count(brand)">
            {{ brand}}
            <span style="color: rgba(0,0,0,.54)">• ({{ BrandFilter.count(brand)}})</span>
        </md-checkbox>
    </div>
</div>
<!-- main filter -->
<div ng-controller="NavListCtrl as list">
    <div class="nav-item-container" ng-class="{expanded : list.expanded}">
        Categorii
        <md-icon class="reset-icon" md-svg-src="assets/icons/ic_close_24px.svg" ng-click="MainCatFilter.reset()" ng-show="MainCatFilter.selected.length" style="margin-left: 8px; width:16px;"></md-icon>
        <md-icon class="right-icon l-right" md-svg-src="assets/icons/ic_keyboard_arrow_down_black_24px.svg" ng-click="list.expand();" style="width:20px;"></md-icon>
    </div>
    <div class="nav-items-list" style="max-height:{{results.length * list.size}}px;">
        <md-checkbox ng-checked="MainCatFilter.exists(cat)" ng-click="MainCatFilter.toggle(cat)" ng-repeat="cat in $root.main_cats | filter: q as results" ng-disabled="!MainCatFilter.count(cat)" ng-show="MainCatFilter.count(cat)">
            {{ cat }}
            <span style="color: rgba(0,0,0,.54)">• ({{ MainCatFilter.count(cat)}})</span>
        </md-checkbox>
    </div>
</div>
<!-- sub filter -->
<div ng-controller="NavListCtrl as list">
    <div class="nav-item-container" ng-class="{expanded : list.expanded}">
        Sub-categorii
        <md-icon class="reset-icon" md-svg-src="assets/icons/ic_close_24px.svg" ng-click="SubCatFilter.reset()" ng-show="SubCatFilter.selected.length" style="margin-left: 8px; width:16px;"></md-icon>
        <md-icon class="right-icon l-right" md-svg-src="assets/icons/ic_keyboard_arrow_down_black_24px.svg" ng-click="list.expand();" style="width:20px;"></md-icon>
    </div>
    <div class="nav-items-list" style="max-height:{{results.length * list.size}}px;">
        <md-checkbox ng-checked="SubCatFilter.exists(cat)" ng-click="SubCatFilter.toggle(cat)" ng-repeat="cat in $root.sub_cats | filter: q as results" ng-disabled="!SubCatFilter.count(cat)" ng-show="SubCatFilter.count(cat)">
            {{ cat }}
            <span style="color: rgba(0,0,0,.54)">• ({{ SubCatFilter.count(cat)}})</span>
        </md-checkbox>
    </div>
</div>
<!-- price filter -->
<div ng-controller="NavListCtrl as list">
    <div class="nav-item-container" ng-class="{expanded : list.expanded}">
        Pret
        <md-icon class="reset-icon" md-svg-src="assets/icons/ic_close_24px.svg" ng-click="PriceFilter.reset()" ng-show="PriceFilter.selected.length" style="margin-left: 8px; width:16px;"></md-icon>
        <md-icon class="right-icon l-right" md-svg-src="assets/icons/ic_keyboard_arrow_down_black_24px.svg" ng-click="list.expand();" style="width:20px;"></md-icon>
    </div>
    <div class="nav-items-list" style="max-height:{{results.length * list.size}}px;">
        <md-checkbox ng-checked="PriceFilter.exists(range)" ng-click="PriceFilter.toggle(range)" ng-repeat="range in PriceFilter.ranges | filter: q as results">
            <span ng-if="!range.min"> < </span>
            <span ng-if="!range.max"> > </span>
            <span ng-if="range.min">{{ range.min }}</span>
            <span ng-if="range.min && range.max"> - </span>
            <span ng-if="range.max">{{ range.max }}</span> RON
            <!-- <span style="color: rgba(0,0,0,.54)">• ({{ PriceFilter.count(range)}})</span> -->
        </md-checkbox>
    </div>
</div>
