<!-- ACCOUNT SECTION START -->
<section>
    <div class="nav-section">
        <a class="nav-item-container" href="/auth/login" md-ink-ripple ng-if="!$root.logged">
            <md-icon md-svg-src="assets/icons/ic_account_circle_24px.svg">
                <span class="badge" ng-show="gdShoppingCart.count() > 0">{{gdShoppingCart.count()}}</span>
            </md-icon>Contul meu</a>
        <a class="nav-item-container" href="/test" md-ink-ripple ng-if="$root.logged">
            <div aria-label="View Account" class="account-photo" class="md-icon-button l-right" style="background-image: url({{$root.userData.user_photo}})"></div>{{$root.userData.email}}</a>
        <div class="nav-section-divider"></div>
<!-- ADMIN SECTION START -->
        <section ng-if="$root.logged && $root.userData.admin">
            <div class="nav-section" ng-cloak ng-include="'app/components/navigation/navigation.admin.inc.html'"></div>
        </section>
<!-- ADMIN SECTION END -->
<!-- USER SECTION START -->
        <section ng-if="$root.logged && !$root.userData.admin">
            <div class="nav-section" ng-cloak ng-include="'app/components/navigation/navigation.account.inc.html'"></div>
        </section>
<!-- USER SECTION END -->
        <a class="nav-item-container sub" md-ink-ripple ng-click="nav.logout()" ng-show="$root.logged">
            <md-icon md-svg-src=""></md-icon>Logout</a>
    </div>
    <div ng-if="$root.logged" class="nav-section-divider"></div>
</section>
<!-- <section>
    <div class="nav-section">
        <div ng-controller="NavListCtrl as list">
            <div class="nav-item-container" ng-class="{expanded : list.expanded}">
                <a class="nav-item-container" href="/auth/login" md-ink-ripple ng-if="!$root.logged">
                    <md-icon md-svg-src="assets/icons/ic_account_circle_24px.svg">
                        <span class="badge" ng-show="gdShoppingCart.count() > 0">{{gdShoppingCart.count()}}</span>
                    </md-icon>Contul meu</a>
                <a class="nav-item-container" href="/test" md-ink-ripple ng-if="$root.logged">
                    <div aria-label="View Account" class="account-photo" class="md-icon-button l-right" style="background-image: url({{$root.userData.user_photo}})"></div>{{$root.userData.email}}</a>
                <md-icon class="right-icon l-right" md-svg-src="assets/icons/ic_keyboard_arrow_down_black_24px.svg" ng-click="list.expand();" style="width:20px;"></md-icon>
            </div>
            <div class="nav-items-list" style="max-height:{{8 * list.size}}px;">

                <section ng-if="$root.userData.admin">
                    <div class="nav-section" ng-cloak ng-include="'app/components/navigation/navigation.admin.inc.html'"></div>
                </section>

                <section ng-if="!$root.userData.admin">
                    <div class="nav-section" ng-cloak ng-include="'app/components/navigation/navigation.account.inc.html'"></div>
                </section>

                <a class="nav-item-container sub" md-ink-ripple ng-click="nav.logout()" ng-show="$root.logged">
                    <md-icon md-svg-src=""></md-icon>Logout</a>
            </div>
        </div>
    </div>
</section> -->

<!-- ACCOUNT SECTION END -->
<!-- STORE SECTION START -->
<section>
    <div class="nav-section" ng-cloak>
        <a class="nav-item-container" href="{{item.ref}}" md-ink-ripple ng-repeat="item in nav.navItems">
            <md-icon md-svg-src="{{item.icon}}"></md-icon>
            <span class="badge" ng-if="item.ref == '/cart'" ng-show="gdShoppingCart.count() > 0">{{gdShoppingCart.count()}}</span>{{item.title}}</a>

        <a class="nav-item-container button" data-type="sub" href="">
            <md-button class=" md-primary md-raised" md-theme="brand">Newsletter</md-button>
        </a>
    </div>
    <div class="nav-section-divider"></div>
</section>
<!-- STORE SECTION END -->
<!-- FILTERS SECTION START -->
<section ng-if="$root.state == 'store'">
    <div class="nav-section" ng-controller="NavSectionCtrl as section" ng-include="'app/components/navigation/navigation.filters.inc.html'"></div>
    <div class="nav-section-divider"></div>
</section>
