
md-sidenav.md-is-locked-open {
    &.admin-sidenav {
        width: auto;
        min-width: 0;
        max-width: none;
    }
}
.md-sidenav-button {
    margin: 0;
    padding: 16px;
    line-height: 1;
}