<div class="gd-cluster" ng-switch="type" >
    <div class="cluster-heading">
        <h3 class="cluster-title">{{title}}</h3>
        <p class="cluster-subtitle">{{subtitle}}</p>
        <div class="cluster-actions"></div>
    </div>
    <div class="cluster-wrapper">
        <ul class="cluster-list carousel" layout ng-switch-when="carousel">
            <li class="cluster-item"
                flex-gt-lg="{{100/lg | number:0}}"
                flex-gt-md="{{100/md | number:0}}"
                flex-gt-sm="{{100/sm | number:0}}"
                flex-sm="{{100/xs | number:0}}"
                ng-include="'/modules/cluster/cluster.carousel.tpl.html'"
                ng-repeat="item in items | limitTo:limit:start">
            </li>
        </ul>
        <div class="carousel-controls">
            <div class="carousel-control prev l-left" md-ink-ripple ng-click="bck()">
                <i class="material-icons md-48">&#xE5CB;</i>
            </div>
            <div class="carousel-control next l-right" md-ink-ripple ng-click="fwd()">
                <i class="material-icons md-48">&#xE5CC;</i>
            </div>
        </div>
    </div>
    <div class="cluster-wrapper" ng-if="type">    
    <ul class="cluster-list grid" layout  ng-switch-when="grid">
        grid list
    </ul>
</div>