// Frontpage
#frontpage {
    height: 100%;
    background-color: #e5e5e5;
}

// Content
.c-max {
    max-width: 1024px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;

    // display: block;
}
@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .c-max {
        max-width: 1280px;
    }
}
@media #{$xlarge-and-up} {
    .c-max {
        max-width: 1366px;
    }
}

// Header
.site-header {
    z-index: 60;
}

//Sidenav


// Hero
.page-hero {
    position: relative;
    display: block;
}

// Aside
aside {
    position: absolute;
    width: 256px;
    z-index: 1;
    nav{
        height: 416px;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    aside {
        width: 320px;
        nav{
            height: 480px;
        }
    }
}
@media #{$xlarge-and-up} {
    aside {
        width: 384px;
        nav{
            height: 544px;
        }
    }
}

// Main
.page-hero {
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 416px;
}


@media #{$medium-and-up} {
    .page-hero {
        padding-left: 272px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .page-hero {
        padding-left: 336px;
        height: 480px;
    }
}
@media #{$xlarge-and-up} {
    .page-hero {
        padding-left: 400px;
        height: 540px;
    }
}

// Footer
footer {

}

// Main View
