// Content
.c-max {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
    // display: block;
}
@media only screen and (min-width: 1601px) and (max-width: 1900px) {
    .c-max {
        max-width: 1440px;
    }
}
@media only screen and (min-width: 1900px) {
    .c-max {
        max-width: 1680px;
    }
}

// Header
.site-header {
    z-index: 60;
}

//Sidenav
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
    width: 256px;
    min-width: 256px;
    max-width: 256px;
}

// Footer
footer {
    
}

// Main View