.gd-card {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    .product-media {

        // padding: 16px;
        position: relative;

        // overflow: hidden;
        .product-img {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .hoverlay {
            pointer-events: none;
            position: absolute;
            overflow: hidden;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
            opacity: 0;
        }
        .product-media-actions {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            .scrim {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-height: 36px;
                transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                &.top {
                    top: 0;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
                }
                &.bottom {
                    bottom: 0;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
                }
            }
            .add-to-favourites,
            .admin-edit,
             {
                float: right;
            }
        }
    }
    &:hover {
        .hoverlay {
            background-color: rgba(0,0,0,.12);
            opacity: 1;
        }
        .product-media-actions {
            .scrim {
                opacity: 1;
            }
        }
    }
    .product-info {
        box-sizing: border-box;
        display: block;
        overflow: hidden;
        padding: 8px 16px 0;
        position: relative;
        .product-title {
            display: block;
            font-size: 16px;
            line-height: 18px;
            max-height: 36px;
            min-height: 18px;
            overflow: hidden;
            text-decoration: none;
            position: relative;
            white-space: nowrap;
            font-weight: 300;
        }
        .product-subtitle {
            color: #aaa;
            display: block;
            font-size: 13px;
            line-height: 16px;
            margin: 1px 0;
            max-width: 132px;
            overflow: hidden;
            white-space: nowrap;
        }
        .excerpt-container {
            display: none;
            color: #aaa;
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;
            margin: 5px 0;
        }
    }
    .product-actions {
        box-sizing: border-box;
        background: #fff;
        bottom: 0;
        display: block;
        padding: 0 16px;
        width: 100%;
        overflow: hidden;
        .stars-container,
        .price-container {
            height: 14px;
            margin-bottom: 8px;
            overflow: hidden;
            width: 100%;
        }
        .stars-container {
            position: relative;
            height: 14px;
            margin-top: 5px;
            float: left;
            clear: both;
            font-size: 0;
            overflow: hidden;
            .tiny-star {
                width: 14px;
                height: 14px;
                float: left;
                background-size: cover;
                background-position: center;
            }
            .current-rating {
                left: 50%;
                right: 0;
                width: auto;
                height: 100%;
                background-color: rgba(255,255,255,.7);
                position: absolute;
                display: block;
            }
        }
        .price-container {
            color: #e12a2a;
            float: left;
            position: relative;
            .price,
            .add-to-cart {
                width: 100%;
                bottom: 0;
                color: inherit;
                background: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 13px;
                font-weight: 400;
                line-height: 14px;
                position: absolute;
                text-align: left;
                text-transform: uppercase;
                font-weight: normal;
                text-decoration: underline;
            }
            .price {
                transition: bottom 0.28s ease;
            }
            .add-to-cart {
                bottom: -100%;
            }
            &:hover {
                .price,
                .add-to-cart {

                }
                .price {
                    bottom: -100%;
                }
                .add-to-cart {
                    bottom: 0;
                    transition: bottom 0.18s 0.18s ease;
                }
            }
        }
    }
    .product-order {
        z-index: 5;
        position: absolute;
        background-color: rgb(33,33,33);
        border-radius: 50%;
        right: -50px;
        opacity: 0;
        transform: translateY(-50%);
        transition: all 0.38s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &.shown {
            right: 16px;
            opacity: 1;
        }
        &.inCart {
            background-color: #e12a2a;
        }
    }
}
@media #{$small-and-up} {
    .cluster-heading {
        padding: 0 24px;
        .cluster-heading-title {
            font-size: 28px;
        }
    }
}
@media #{$medium-and-up} {
    .gd-card {
        .product-actions {
            .stars-container {
                clear: none;
                width: 70px;
            }
            .price-container {
                float: right;
                margin-top: 5px;
                width: 70px;
                .price,
                .add-to-cart {
                    text-align: right;
                }
            }
        }
    }
}

// Card tiles
.gd-card {
    &.gd-tile {
        .product-media {
            padding: 0 65% 0 0;
            // z-index: 0;
            .hoverlay{
                right: 65%;
                width: auto;
            }
        }
        .product-info {
            position: absolute;
            top: 0;
            left: 35%;
            .excerpt-container {
                display: block;
                p {
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 1.1;
                    color: rgba(0,0,0,.87);
                }
            }
        }
        .product-actions {
            position: absolute;
            right: 0;
            left: 35%;
            width: auto;
            i{
                color: rgba(0,0,0,.87);
            }
        }
        .product-order {
            display: none;
            visibility: hidden;
            user-select: none;
            pointer-events: none;
        }
    }
}
