.app-bar {
    height: 56px;
    min-height: 56px;
    padding: 0;
    box-shadow: 0 0;
    transition: all 0.28s ease;
    .md-button {
        margin: 0;
    }
    &.transparent {
        background: transparent;
    }
    &.raised {
        
        // box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.16), 0 3px 5px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);
    }
    &.nav-bar {
        background-color: #fff;
        color: rgba(0,0,0,.87);
        &.raised {
            box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.16);
        }
    }
    &.main-bar {
        
        // background-color: #201f1f;
    }
}
@media #{$small-and-up} {
    .app-bar {
        
    }
}
@media #{$small-and-up} {
    .app-bar {
        height: 64px;
        min-height: 64px;
        
        //padding: 0 1.5*$content-padding;
    }
}
.app-bar {
    h1 {
        margin: 0;
        padding: 0;
        height: 56px;
        line-height: 56px;
        width: 136px;
        float: left;
        background-color: inherit;
        a {
            background-size: 95%;
            display: block;
            height: 56px;
            line-height: 56px;
            width: 135px;
            overflow: hidden;
            text-indent: -3000px;
            margin-left: 16px;
        }
    }
}
@media #{$small-and-up} {
    .app-bar {
        h1 {
            margin: 0;
            width: 160px;
            height: 64px;
            line-height: 64px;
            a {
                width: 100%;
                height: 64px;
                line-height: 64px;
                margin: 0;
            }
        }
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .app-bar h1 a {
        background: url("/assets/img/daksports_logo_red_white_noborder.svg") center no-repeat;
        background-size: 135px 36px;
    }
}
.app-bar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        // background-color: #201f1f;
        li {
            margin: 0;
        }
    }
}
.app-bar .app-bar-button {
    height: 56px;
    line-height: 56px;
    display: inline-block;
    display: block;
    float: none;
    background-color: inherit;
    
    // color: #fff;
    text-decoration: none;
    
    //padding: 0 $content-padding;
    text-transform: uppercase;
    font-family: 'Roboto Mono','Roboto',"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    text-align: left;
    &.has-icon {
        position: static;
        .icon {
            display: none;
        }
    }
}
@media #{$small-and-up} {
    .app-bar .app-bar-button {
        height: 64px;
        line-height: 64px;
        display: inline-block;
        float: left;
        font-size: 16px;
        &.has-icon {
            position: relative;
            padding-left: 46px;
            .icon {
                line-height: 56px;
                position: absolute;
                left: 16px;
                z-index: 1;
            }
        }
    }
}
.app-bar .app-bar-mobile-trigger {
    display: inline-block;
    .icon {
        height: 56px;
        line-height: 56px;
        z-index: 1;
    }
}
.app-bar .app-bar-icon {
    display: inline-block;
    
    // color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    .icon {
        height: 56px;
        line-height: 56px;
        z-index: 1;
    }
}
@media #{$small-and-up} {
    .app-bar .app-bar-icon {
        .icon {
            height: 64px;
            line-height: 64px;
        }
    }
}
.app-bar {
    a.md-icon-button {
        padding: 12px 0;
    }
}
.app-bar .md-icon-button {
    
    // color: #fff;
    margin: 0;
    line-height: 1;
    margin: 4px 0;
    md-icon {
        
        // color: #fff;
    }
}
@media #{$small-and-up} {
    .app-bar .md-icon-button {
        width: 48px;
        height: 48px;
        margin: 8px 0;
    }
}

// Search
.app-bar {
    .material-one-left {
        
    }
    .material-one-center {
        position: relative;
        transition: all 0.28s ease-in-out;
    }
    input {
        &.material-search {
            background-color: rgba(255,255,255,.16);
            transition: background-color 0.2s;
            padding: 0 16px 0 0;
            box-sizing: border-box;
            height: 48px;
            margin: 4px 0;
            border: none;
            border-radius: 3px;
            width: 100%;
            
            // color: rgba(255,255,255,.7);
            font-size: 15px;
            font-weight: 400;
            text-indent: 68px;
            outline: 0;
        }
    }
    .search-icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 56px;
        width: 64px;
        text-align: center;
        line-height: 56px;
    }
    .account-photo {
        width: 32px;
        min-width: 0;
        min-height: 0;
        height: 32px;
        border-radius: 50%;
        float: right;
        margin: 12px;
        background-position: center;
        background-size: contain;
    }
    .appbar-search-button {
        display: block;
    }
    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: rgba(255, 255, 255, .3);
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: rgba(255, 255, 255, .3);
        opacity: 1;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: rgba(255, 255, 255, .3);
        opacity: 1;
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: rgba(255, 255, 255, .3);
    }
}
@media #{$small-and-up} {
    .app-bar {
        input {
            &.material-search {
                margin: 8px 0;
            }
        }
        .search-icon {
            height: 64px;
            line-height: 64px;
        }
        .account-photo {
            margin: 16px;
        }
    }
}
@media #{$medium-and-up} {
    .app-bar {
        .appbar-search-button {
            display: none;
        }
    }
}
.search-bar {
    @extend .app-bar;
    position: absolute;
    margin-top: 56px;
}
@media #{$small-and-up} {
    .search-bar {
        margin-top: 64px;
    }
}
@media #{$medium-and-up} {
    .search-bar {
        &.open {
            margin-top: 0;
        }
    }
}

// SEARCH BAR ANIMATION
.search-bar {
    transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
}
/* line 111, ../sass/ng-animation.scss */
.search-bar.ng-enter {
    transform: translateY(-60px);
    transition-duration: 250ms;
    opacity: 0;
}
/* line 117, ../sass/ng-animation.scss */
.search-bar.ng-enter-active {
    transform: translateY(0);
    opacity: 1;
}
/* line 122, ../sass/ng-animation.scss */
.search-bar.ng-leave {
    transform: translateY(0);
    transition-duration: 250ms;
    opacity: 1;
}
/* line 128, ../sass/ng-animation.scss */
.search-bar.ng-leave-active {
    transform: translateY(-60px);
    opacity: 0;
}
/* line 134, ../sass/ng-animation.scss */
.search-bar.ng-hide-add {
    transform: translateY(0);
    transition-duration: 250ms;
    opacity: 1;
}
/* line 139, ../sass/ng-animation.scss */
.search-bar.ng-hide-add.ng-hide-add-active {
    transform: translateY(-60px);
    opacity: 0;
}
/* line 145, ../sass/ng-animation.scss */
.search-bar.ng-hide-remove {
    transform: translateY(-60px);
    transition-duration: 250ms;
    display: block !important;
    opacity: 0;
}
/* line 151, ../sass/ng-animation.scss */
.search-bar.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    opacity: 1;
}