<!-- Toolbars -->

<div class="scrim top has-hero" ng-if="!$root.mainScrolled"></div>
<!-- <md-toolbar class="search-bar" ng-if="showSearchBar" ng-class="{open : showSearchBar}"> -->
<md-toolbar class="search-bar" ng-if="showSearchBar">
    <div class="" layout="row">
        <div class="material-one-center" flex="80" offset="10">
            <input aria-label="Cauta produs" class="material-search label-input-label" no-focus="" placeholder="Cauta produs" role="search">
            <i class="material-icons search-icon">&#xE8B6;</i>
        </div>
    </div>
</md-toolbar>
<md-toolbar class="app-bar main-bar" ng-class="{raised : $root.mainScrolled, transparent : $root.transparentAppbar && !$root.mainScrolled}">
    <div class="" layout="row">
        <div class="material-one-left" flex="60" flex-gt-md="25">
            <div class="slide-left" ng-hide="sidebarOpen">
                <md-button aria-label="Toggle Menu" class="md-icon-button l-left" ng-click="toggleSidebar(); hideSearchBar()">
                    <md-icon>
                        <i class="material-icons">&#xE5D2;</i>
                    </md-icon>
                </md-button>

                <h1>
                    <a href="/" md-button style="background: url('assets/img/daksports_logo_red_white_noborder.svg')center no-repeat;">Daksports</a>
                </h1>
            </div>
        </div>
        <div class="material-one-center" flex="50" hide show-gt-md>
            <input aria-label="Cauta produs" class="material-search label-input-label" no-focus="" placeholder="Cauta produs" role="search">
            <i class="material-icons search-icon">&#xE8B6;</i>
        </div>
        <span flex hide-gt-md></span>
        <div class="material-one-right" flex-gt-md="25">
            <a aria-label="View facebook page" class="md-icon-button l-right" md-button ng-href="https://www.facebook.com/daksportsmagazin" target="_blank">
                <md-icon md-svg-src="assets/icons/social_facebook_24px.svg"></md-icon>
            </a>
            <a aria-label="View facebook page" class="md-icon-button l-right" md-button ng-href="https://www.google.com/+ionutachim23" target="_blank">
                <md-icon md-svg-src="assets/icons/social_google_plus_24px.svg"></md-icon>
            </a>
            <md-button aria-label="Search" class="appbar-search-button md-icon-button l-right" ng-click="toggleSearchBar($event)">
                <md-icon>
                    <i class="material-icons">&#xE8B6;</i>
                </md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>