<div class="gd-carousel">
    
    <div class="gd-carousel-heading">
        <h2 class="carousel-heading-title single-line">Produse recomandate</h2>
        <a href="">
            <md-button class="md-primary md-icon-button carousel-heading-button">
                <md-tooltip>
                    Vezi toate
                </md-tooltip>
                <md-icon>
                    <i class="material-icons">&#xE5C3;</i>
                </md-icon>
            </md-button>
        </a>
    </div>
    
    <div class="gd-carousel-wrapper" layout="row">
        <gd-carousel-item flex-gt-lg="{{100/lgSize | number:0}}" flex-gt-md="{{100/mdSize | number:0}}" flex-gt-sm="{{100/smSize | number:0}}" flex-sm="{{100/xsSize | number:0}}" ng-repeat="item in items | limitTo:limit:start">
            <gd-card card-resource="item"></gd-card>
        </gd-carousel-item>
    </div>
    
    <div class="gd-carousel-controls">
        <div class="gd-carousel-control prev l-left" md-ink-ripple ng-click="bck()">
            <i class="material-icons md-48">&#xE5CB;</i>
        </div>
        <div class="gd-carousel-control next l-right" md-ink-ripple ng-click="fwd()">
            <i class="material-icons md-48">&#xE5CC;</i>
        </div>
    </div>
    
</div>