.single-product-main {
    margin-top: 64px;
    padding: 16px;
    position: relative;
    display: block;
    .add-to-cart {
        position: absolute;
        right: -4px;
        top: -32px;
    }
    .cover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: zoom-in;
        padding-top: 100%;
    }
    .info {
        width: 100%;
        padding: 16px;
        h1.product-title.ng-binding {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 48px;
        }
        p.product-subtitle {
            font-size: 15px;
            text-decoration: none;
        }
        .product-stats {
            margin-top: 4px;
            color: rgba(0,0,0,.54);
            height: 16px;
            overflow: hidden;
            margin-bottom: 8px;
        }
        .stars-container {
            position: relative;
            width: 100px;
            height: 20px;
            margin-left: -3px;
            margin-top: 5px;
            clear: both;
            font-size: 0;
            overflow: hidden;
            .tiny-star {
                width: 20px;
                height: 20px;
                float: left;
                background-size: cover;
                background-position: center;
            }
            .current-rating {
                left: 50%;
                right: 0;
                width: auto;
                height: 100%;
                background-color: rgba(255,255,255,.7);
                position: absolute;
                display: block;
            }
        }
        
        // stars-container
        .price-container {
            color: #e12a2a;
            display: block;
            height: 14px;
            position: relative;
            margin-top: 5px;
            margin-bottom: 8px;
            .price,
            .promo-price {
                bottom: 0;
                background: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 13px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
                text-transform: uppercase;
                font-weight: normal;
                float: left;
                
                // text-decoration: underline;
            }
            .price {
                transition: all 0.28s ease;
            }
            &.promo {
                .price {
                    color: #aaa;
                    text-decoration: line-through;
                    padding-left: 8px;
                }
                .promo-price {
                    
                }
            }
        }
        
        // price-container
        .product-actions {
            margin-top: 16px;
            .item-size {
                min-width: 96px;
            }
            .item-count {
                min-width: 80px;
                margin-left: 16px;
            }
        }
        
        // product-actions
        .stock-info {
            color: #737373;
            cursor: help;
            user-select: none;
            white-space: nowrap;
            font-family: Roboto, UILanguageFont, Arial, sans-serif;
            font-size: 13px;
            height: 16px;
            font-weight: 300;
            display: block;
            position: absolute;
            bottom: 16px;
            span {
                line-height: 12px;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        
        // stock-info
    }
}
@media #{$small-and-up} {
    .single-product-main{
        
    }
}
@media #{$medium-and-up} {
    .single-product-main{
        .cover {
            padding-top: 0;
            width: 192px;
            height: 192px;
        }
        margin-top: 96px;
    }
}
@media #{$large-and-up} {
    .single-product-main{
        .cover {
            width: 264px;
            height: 264px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: zoom-in;
        }
        margin-top: 128px;
    }
}