<div class="page-content c-max">
    <div id="page-hero" style="top: -{{scrollAmnt/2}}px ; background-image: url({{hero.file}})" ng-class="{'left-positioned': hero.position == 'left', 'narrow' : sidebarOpen}"></div>
    <div class="single-product-main">
        <section id="product-info" class="paper resting">
            <div class="product-details" layout-gt-md="row" layout="column">
                <md-button aria-label="Use Android" class="md-fab md-primary add-to-cart" ng-click="addToCart()">
                    <md-icon md-svg-src="assets/icons/ic_add_shopping_cart_white_24px.svg"></md-icon>
                </md-button>
                <div class="cover" style="background-image: url({{product.file1}})">
                    <div class="promo-badge" ng-show="product.promo">
                        <md-tooltip>
                            Produs promo
                        </md-tooltip>
                        <md-icon md-svg-src="assets/icons/promo_badge.svg" style="width: 48px; height: 48px;"></md-icon>
                    </div>
                </div>
                <div class="info" flex>
                    <h1 class="product-title">{{product.name}}</h1>
                    <p class="product-subtitle">{{product.subname}}</p>
                    <div class="product-stats">
                        <span class="brand">{{product.brand | uppercase}}</span>
                        •
                        <span class="type">{{product.type}}</span>
                        •
                        <span class="kind">{{product.kind}}</span>
                    </div>
                    <md-divider></md-divider>
                    <div class="review-info">
                        <div class="stars-container">
                            <div class="tiny-star" style="background-image: url('assets/icons/ic_star_tiny_14px.svg')"></div>
                            <div class="tiny-star" style="background-image: url('assets/icons/ic_star_tiny_14px.svg')"></div>
                            <div class="tiny-star" style="background-image: url('assets/icons/ic_star_tiny_14px.svg')"></div>
                            <div class="tiny-star" style="background-image: url('assets/icons/ic_star_tiny_14px.svg')"></div>
                            <div class="tiny-star" style="background-image: url('assets/icons/ic_star_tiny_14px.svg')"></div>
                            <div class="current-rating" style="left:{{product.rating}}%"></div>
                        </div>
                        <span class="review-count" ng-class="{disabled : !product.reviews.length}"> • {{product.reviews.length}} review-uri
                            <span ng-if="!product.reviews.length"> • </span>
                            <span ng-if="!product.reviews.length" class="review-anchor">fii primul care adauga un review</span>
                        </span>
                    </div>
                    <div class="price-container" data="product" id="{{ product.code }}" name="{{ product.name }}" ng-class="{promo : product.promo}" price="{{ product.price }}" quantity="1">
                        <div ng-cloak class="promo-price" ng-show="product.promo">RON
                            {{product.promo_price}}</div>
                        <div ng-cloak class="price">
                            <span ng-show="!product.promo">RON</span>
                            {{product.price}}</div>
                    </div>

                    <div class="product-actions">
                        <form name="orderForm" ng-submit="orderProduct(order)" novalidate>
                            <div class="" layout-gt-sm="row" layout="column">
                                <md-input-container class="item-size" flex flex-gt-md="20">
                                    <label>Selecteaza marime</label>
                                    <md-select aria-label="Size select" ng-model="order.size" required>
                                        <md-option ng-repeat="size in product.sizes" ng-value="size">{{size}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="item-count" flex flex-gt-md="10">
                                    <label>Cantitate</label>
                                    <input name="itemCount" ng-model="order.quantity" step="any" type="number">
                                    <div ng-messages="productForm.promoprice.$error" ng-show="orderForm.itemCount.$invalid && orderForm.itemCount.$dirty">
                                        <div ng-message="number">Doar cifrele sunt permise</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                    <!-- STOCK INFO -->
                    <div class="stock-info">
                    <md-divider></md-divider>
                        <div ng-cloak ng-show="product.inv">
                            <md-icon md-svg-src="assets/icons/ic_check_circle_green_24px.svg" style="width:16px; height:16px;"></md-icon>
                            <span>Acest produs se afla in stoc.</span>
                        </div>
                        <div ng-cloak ng-show="!product.inv">
                            <md-icon md-svg-src="assets/icons/ic_warning_red_24px.svg" style="width:16px; height:16px;"></md-icon>
                            <span>Acest produs se afla doar in stoc furnizor.</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="product-description" class="paper resting" gd-accordion style="height : {{accordion.maxHeight}}px">
            <gd-heading title="Descriere" subtitle="Afla mai multe detalii despre acest produs">
                    <a href="">
                        <md-button class="md-primary md-icon-button carousel-heading-button">
                            <md-tooltip>
                                Arata
                            </md-tooltip>
                            <md-icon class="expand-icon" ng-class="{rotated : accordion.expanded}" md-svg-src="assets/icons/ic_keyboard_arrow_down_black_24px.svg" ng-click="accordion.expand()"></md-icon>
                        </md-button>
                    </a>
            </gd-heading>
            <md-divider ng-show="accordion.expanded"></md-divider>
            <br>
            <div class="product-description">
                <p ng-bind-html="product.description"></p>
            </div>
        </section>
        <section id="product-comments" class="paper resting"></section>
    </div>

<!-- Others also bought -->
    <gd-carousel data="$root.products" lg="5" limit="10" md="4" sm="3" start="0" title="Altii au mai cumparat" xs="2"></gd-carousel>

<!-- Similar products -->
    <gd-carousel data="$root.products" lg="5" limit="10" md="4" sm="3" start="0" title="Produse similare" xs="2"></gd-carousel>
</div>
