<div class="page-hero">

    <div class="product-gallery" layout>
        <div class="resting main-image" flex style="background-image: url({{mainView}});"></div>
        <ul class="image-list" flex="20" layout="column">
            <li class="resting select-image" flex md-ink-ripple ng-click="setMain(file)" ng-repeat="file in files" style="background-image: url({{file}});"></li>
        </ul>
    </div>

</div>

<div class="single-product-main">
    <div class="details-wrapper">
        <div class="details-info">
            <div class="info-container">
                <h1 class="product-title">{{product.name}}</h1>
                <p class="product-subtitle">{{product.subname}}</p>
                <a class="product-brand" href="">Nike</a>
                <a class="product-category" href="/store/apps/category/GAME_ADVENTURE">Fotbal/Tricouri</a>
                <div class="details-actions">
                    <form name="orderForm" ng-submit="orderProduct(order)" novalidate>
                        <div class="" layout="row">
                            <md-input-container class="item-size" flex flex-gt-md="20">
                                <label>Selecteaza marime</label>
                                <md-select aria-label="Size select" ng-model="order.size" required>
                                    <md-option ng-repeat="size in product.sizes" ng-value="size">{{size}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="item-color" flex flex-gt-md="20">
                                <label>Selecteaza culoare</label>
                                <md-select aria-label="Colour select" ng-model="order.colour" required>
                                    <md-option ng-repeat="colour in product.colours" ng-value="colour">{{colour}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="item-count" flex flex-gt-md="10">
                                <label>Cantitate</label>
                                <input name="itemCount" ng-model="order.count" step="any" type="number">
                                <div ng-messages="productForm.promoprice.$error" ng-show="orderForm.itemCount.$invalid && orderForm.itemCount.$dirty">
                                    <div ng-message="number">Doar cifrele sunt permise</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-button aria-label="Comment" class="md-fab add-to-cart" ng-disabled="!orderForm.$valid">
                            <md-icon md-svg-src="app/assets/icons/ic_add_shopping_cart_white_24px.svg"></md-icon>
                        </md-button>
                    </div>
                    <div class="details-stock">
                        <div class="stock-info-img"></div>
                        Acest produs se afla in stock.
                    </div>
                    <div class="details-info-divider"></div>
                    <div class="header-star-badge">
                        <div class="stars-container">
                            <div aria-label=" Rated 4.1 stars out of five stars " class="tiny-star star-rating-non-editable-container">
                                <div class="current-rating" style="width: 48.731762%;"></div>
                            </div>
                        </div>
                        <div class="stars-count">
                            (
                            <span class="reviewers-small"></span>69,208)
                        </div>
                    </div>
                </div>
            </div>

            <div class="details-section description" ng-class="{expanded : section.expand}" ng-init="section.expand = false">
                <div class="details-section-container">
                    <gd-heading title="Descriere produs">
                        <md-button class="md-primary md-icon-button cart-heading-button" ng-click="section.expand = !section.expand">
                            <md-icon>
                                <i class="material-icons" ng-class="{flipped : section.expand}">&#xE5CF;</i>
                            </md-icon>
                        </md-button>
                    </gd-heading>
                    <md-content class="text-body" md-scroll-y>{{product.desc}}</md-content>
                </div>
                <div class="details-section-divider"></div>
            </div>
        </div>
    </div>

<!-- Others also bought -->
    <gd-carousel data="products" lg="5" limit="10" md="4" sm="3" start="0" title="Altii au mai cumparat" xs="2"></gd-carousel>

<!-- Similar products -->
    <gd-carousel data="products" lg="5" limit="10" md="4" sm="3" start="0" title="Produse similare" xs="2"></gd-carousel>