#product-info {
    margin-top: 64px;
    padding: 16px;
    position: relative;
    display: block;
    .add-to-cart {
        position: absolute;
        right: -4px;
        top: -32px;
    }
    .cover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: zoom-in;
        padding-top: 100%;
    }
    .info {
        width: 100%;
        padding: 16px;
        h1.product-title.ng-binding {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 48px;
        }
        p.product-subtitle {
            font-size: 15px;
            text-decoration: none;
        }
        .product-stats {
            margin-top: 4px;
            color: rgba(0,0,0,.54);
            height: 16px;
            overflow: hidden;
            margin-bottom: 8px;
        }
        .review-info {
            position: relative;
            height: 25px;
            .stars-container {
                position: absolute;
                width: 100px;
                height: 20px;
                margin-left: -3px;
                margin-top: 5px;
                clear: both;
                font-size: 0;
                overflow: hidden;
                .tiny-star {
                    width: 20px;
                    height: 20px;
                    float: left;
                    background-size: cover;
                    background-position: center;
                }
                .current-rating {
                    left: 50%;
                    right: 0;
                    width: auto;
                    height: 100%;
                    background-color: rgba(255,255,255,.7);
                    position: absolute;
                    display: block;
                }
            }
            .review-count {
                position: absolute;
                left: 110px;
                margin-top: 6px;
                height: 20px;
                line-height: 20px;
                &.disabled {
                    color: rgba(0,0,0,.54);
                }
                .review-anchor {
                    color: rgba(0,0,0,.87);
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        // stars-container
        .price-container {
            color: #e12a2a;
            display: block;
            height: 14px;
            position: relative;
            margin-top: 5px;
            margin-bottom: 8px;
            .price,
            .promo-price {
                bottom: 0;
                background: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 13px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
                text-transform: uppercase;
                font-weight: normal;
                float: left;

                // text-decoration: underline;
            }
            .price {
                transition: all 0.28s ease;
            }
            &.promo {.price {
                    color: #aaa;
                    text-decoration: line-through;
                    padding-left: 8px;
                }
                .promo-price {

                }
            }
        }

        // price-container
        .product-actions {
            margin-top: 16px;
            .item-size {
                min-width: 96px;
            }
            .item-count {
                min-width: 80px;
                margin-left: 16px;
            }
        }

        // product-actions
        .stock-info {
            color: #737373;
            cursor: help;
            user-select: none;
            white-space: nowrap;
            font-family: Roboto, UILanguageFont, Arial, sans-serif;
            font-size: 13px;
            height: 16px;
            font-weight: 300;
            display: block;
            position: absolute;
            bottom: 16px;
            span {
                line-height: 12px;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        // stock-info
    }
}
@media #{$small-and-up} {#product-info {

    }
}
@media #{$medium-and-up} {#product-info {.cover {
            padding-top: 0;
            width: 192px;
            height: 192px;
        }
        margin-top: 96px;
    }
}
@media #{$large-and-up} {#product-info {.cover {
            width: 264px;
            height: 264px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: zoom-in;
        }
        margin-top: 128px;
    }
}
#product-description {
    padding: 16px;
    height: 90px;
    overflow: hidden;
    transition: height 0.28s ease-in-out;
    will-change: height;
    .expand-icon {
        will-change: transform;
        transition: transform 0.28s ease-in-out;
        &.rotated {
            transform: rotate(180deg);
        }
    }
}

// PRODUCT REVIEWS
#product-reviews {
    padding: 16px;
    overflow: hidden;
    transition: height 0.28s ease-in-out;
    will-change: height;

    .rating-star {
        color: #bdbdbd;
        &.fill {
            color: $brand-primary;
        }
    }

    // product main rating
    .product-main-rating {
        padding: 16px 0;
        .stars-container {
            font-size: 0;
            position: relative;
            margin: 4px 0;
            margin-left: -3px;
            &.main-stars {
                width: 200px;
                margin-left: -6px;
            }
            .rating-star,
            .main-rating-star {
                color: #bdbdbd;
                &.fill {
                    color: $brand-primary;
                }
            }
            .rating-star {
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }
            .main-rating-star {
                width: 40px;
                height: 40px;
            }
            span.review-count {
                margin-left: 8px;
                vertical-align: middle;
            }
        }
        .add-rating-button {
            margin-left: 0;
        }
    }
    .product-latest-review {
        padding: 16px 0;
        padding-left: 16px;
        .latest-review-title {
            max-width: 80%;
            font-size: 20px;
            line-height: 22px;
            font-weight: 100;
            margin: 4px 0;
            color: $brand-primary;
        }
        .rating-star {
            color: #bdbdbd;
            &.fill {
                color: $brand-primary;
            }
        }
        .latest-review-body {
            height: 85px;
            line-height: 17px;
            overflow: hidden;
        }
        .review-user-info {
            padding: 16px 0;
            width: 100%;
            height: 88px;
            .review-user-avatar {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 16px;
            }
            .review-user-name {
                margin-top: 4px;
            }
        }
    }
    .add-review-button {
        margin-left: 0;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .disclaimer{
        color: rgba(0,0,0,.54);
        font-size: 11px;
        font-weight: 100;
        &.primary{
            color: rgba(0,0,0,.87);
        }
    }
    .review-form{
        border: 3px solid rgba(0,0,0,.06);
        padding: 16px;
        border-radius : 6px;
        position: relative;
        .disclaimer{
            color: rgba(0,0,0,.54);
            font-size: 11px;
            font-weight: 100;
            &.primary{
                color: rgba(0,0,0,.87);
            }
        }
        .rating-star {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
        .publish-review-button{
            margin-left: 0;
        }
    }
    .reviews-list{
        .review-user-info {
            padding: 16px 0;
            width: 100%;
            .review-user-avatar {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 16px;
            }
            .review-user-name {
                margin-top: 4px;
                .name{
                    color: $brand-primary;
                    font-size: 16px;
                    font-weight: 300;
                }
            }
            .review-added-date{
                .date{
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
        .review-body{
            padding: 16px 0;
            width: 100%;
            .rating-star {
                width:30px;
                height: 30px;
                color: #bdbdbd;
                &.fill {
                    color: $brand-primary;
                }
            }
            .review-title{
                max-width: 80%;
                font-size: 20px;
                line-height: 22px;
                font-weight: 100;
                margin: 4px 0;
                color: $brand-primary;
            }
            .review-text{

            }
        }
    }
}
