<div class="page-hero">

<!-- Slider -->
    <div class="hero-slider">
        <gd-slider class="gd-slider ar_16-9" interval='3000'>
            <div class="gd-slides" ng-controller="GdSlider" ng-mouseleave="playSlider()" ng-mouseover="pauseSlider()">
                <gd-slide class="gd-slide ar_16-9" gd-slide-src="{{file}}" ng-repeat="file in files" style="transform:translateX({{$index * 100}}%);"></gd-slide>
            </div>
            <div class="gd-slider-controls" ng-mouseleave="playSlider()" ng-mouseover="pauseSlider()">
                <div class="gd-slider-control prev l-left" md-ink-ripple ng-click="prevSlide()">
                    <i class="material-icons md-48">&#xE5CB;</i>
                </div>
                <div class="gd-slider-control next l-right" md-ink-ripple ng-click="nextSlide()">
                    <i class="material-icons md-48">&#xE5CC;</i>
                </div>
            </div>
        </gd-slider>
    </div>

</div>

<div class="single-product-main">
    <div class="details-wrapper">
        <div class="details-info">
            <div class="info-container">
                <h1 class="product-title">{{product.name}}</h1>
                <p class="product-subtitle">{{product.subname}}</p>
                <a class="product-brand" href="">{{product.brand | uppercase}}</a>
                <a class="product-category" href="">{{product.main_cat}}
                    /
                    {{product.sub_cat}}</a>
                <div class="details-actions">
                    <form name="orderForm" ng-submit="orderProduct(order)" novalidate>
                        <div class="" layout-gt-sm="row" layout="column">
                            <md-input-container class="item-size" flex flex-gt-md="20">
                                <label>Selecteaza marime</label>
                                <md-select aria-label="Size select" ng-model="order.size" required>
                                    <md-option ng-repeat="size in product.sizes" ng-value="size">{{size}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="item-color" flex flex-gt-md="20">
                                <label>Selecteaza culoare</label>
                                <md-select aria-label="Colour select" ng-model="order.colour" required>
                                    <md-option ng-repeat="colour in product.colours" ng-value="colour">{{colour}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="item-count" flex flex-gt-md="10">
                                <label>Cantitate</label>
                                <input name="itemCount" ng-model="order.quantity" step="any" type="number">
                                <div ng-messages="productForm.promoprice.$error" ng-show="orderForm.itemCount.$invalid && orderForm.itemCount.$dirty">
                                    <div ng-message="number">Doar cifrele sunt permise</div>
                                </div>
                            </md-input-container>
                        </div>
<!-- ng-disabled="!orderForm.$valid" -->
<!-- <md-button aria-label="Add to cart" class="md-fab add-to-cart" md-theme="brand">
                            <md-icon md-svg-src="assets//icons/ic_add_shopping_cart_white_24px.svg"></md-icon>
                        </md-button> -->

                        <md-fab-speed-dial class="add-to-cart md-scale" md-direction="{{selectedDirection}}" md-open="isOpen" ng-click="sayCount()">
                            <md-fab-trigger>
                                <md-button aria-label="Order actions" class="md-fab md-primary" md-theme="brand">
                                    <md-icon md-svg-src="assets//icons/ic_add_white_24px.svg"></md-icon>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <!-- <gd-addtocart class="price-container" data="product" id="{{ product.id }}" name="{{ product.name }}" price="{{ product.price }}" quantity="{{ order.count | number }}"> -->
                                    <md-button aria-label="Add to cart" class="md-fab md-primary md-raised md-mini" ng-click="addToCart(order)">
                                        <md-icon md-svg-src="assets//icons/ic_add_shopping_cart_white_24px.svg"></md-icon>
                                    </md-button>
                                <!-- </gd-addtocart> -->
                                <md-button aria-label="Add to cart" class="md-fab md-primary md-raised md-mini" ng-click="postFav(product.id)">
                                    <md-icon md-svg-src="assets//icons/ic_favorite_border_white_24px.svg" ng-show="$root.logged && !product.favourite"></md-icon>
                                    <md-icon md-svg-src="assets//icons/ic_favorite_white_24px.svg" ng-show="$root.logged && product.favourite"></md-icon>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>

                    </div>
                    <div class="details-stock">
                        <div class="stock-info-img"></div>
                        Acest produs se afla in stock.
                    </div>
                    <div class="details-info-divider"></div>
                    <div class="header-star-badge">
                        <div class="stars-container">
                            <div aria-label=" Rated 4.1 stars out of five stars " class="tiny-star star-rating-non-editable-container">
                                <div class="current-rating" style="width: 48.731762%;"></div>
                            </div>
                        </div>
                        <div class="stars-count">
                            (
                            <span class="reviewers-small"></span>69,208)
                        </div>
                    </div>
                </div>
            </div>

            <div class="details-section description" ng-class="{expanded : section.expand}" ng-init="section.expand = false">
                <div class="details-section-container">
                    <gd-heading title="Descriere produs">
                        <md-button class="md-primary md-icon-button cart-heading-button" ng-click="section.expand = !section.expand">
                            <md-icon>
                                <i class="material-icons" ng-class="{flipped : section.expand}">&#xE5CF;</i>
                            </md-icon>
                        </md-button>
                    </gd-heading>
                    <md-content class="text-body" md-scroll-y>{{product.description}}</md-content>
                </div>
                <div class="details-section-divider"></div>
            </div>
        </div>
    </div>

<!-- Others also bought -->
    <gd-carousel data="$root.products" lg="5" limit="10" md="4" sm="3" start="0" title="Altii au mai cumparat" xs="2"></gd-carousel>

<!-- Similar products -->
    <gd-carousel data="$root.products" lg="5" limit="10" md="4" sm="3" start="0" title="Produse similare" xs="2"></gd-carousel>
