<div class="gd-card paper resting" ng-mouseenter="toggleOrderFab()" ng-mouseleave="toggleOrderFab()">
    <div class="product-media">
        <a href="#" md-ink-ripple>
            <div class="product-img ar_1-1" style="background-image: url({{item.file1}});"></div>
            <div class="hoverlay"></div>
        </a>
        <div class="product-media-actions"></div>
<!-- <div class="product-order raised" ng-class="{open : orderUp, shown : showOrderFab, inCart : inCart}" ng-click="addToCart(item)" ng-show="showOrderFab">
            <i class="material-icons" ng-show="!inCart">&#xE854;</i>
            <i class="material-icons" ng-show="inCart">&#xE8CC;</i>
        </div> -->
        <ngcart-addtocart class="price-container" data="item" id="{{ item.id }}" name="{{ item.name }}" ng-click="showConfirm($event)" price="{{ item.price }}" quantity="1">
            <md-button aria-label="Add to cart" class="product-order md-fab" ng-class="{shown : showOrderFab}" ng-click="addToCart(item)" ng-show="showOrderFab">
                <md-icon md-svg-src="assets/icons/ic_add_shopping_cart_white_24px.svg"></md-icon>
            </md-button>
        </ngcart-addtocart>
    </div>
    <div class="product-info">
        <h2 class="product-title single-line">{{item.name}}</h2>
        <div class="subtitle-container">
            <p class="product-subtitle single-line secondary-text-color">{{item.subname}}</p>
        </div>
        <div class="excerpt-container">
            <p class="product-excerpt secondary-text-color">{{item.excerpt}}</p>
        </div>
        <div aria-hidden="true" class="description-container is-hidden">
            <p>{{item.excerpt}}</p>
            <p>{{item.description}}</p>
        </div>
    </div>
    <div class="product-actions">
        <div class="stars-container">
            <div class="tiny-star" style="background-image: url(assets/icons/ic_star_tiny_14px.svg)"></div>
            <div class="tiny-star" style="background-image: url(assets/icons/ic_star_tiny_14px.svg)"></div>
            <div class="tiny-star" style="background-image: url(assets/icons/ic_star_tiny_14px.svg)"></div>
            <div class="tiny-star" style="background-image: url(assets/icons/ic_star_tiny_14px.svg)"></div>
            <div class="tiny-star" style="background-image: url(assets/icons/ic_star_tiny_14px.svg)"></div>
            <div class="current-rating"></div>
        </div>
        <ngcart-addtocart class="price-container" data="item" id="{{ item.id }}" name="{{ item.name }}" ng-click="showConfirm($event)" price="{{ item.price }}" quantity="1">
            <div class="price">RON{{item.price}}</div>
            <div class="add-to-cart">Adauga</div>
        </ngcart-addtocart>
    </div>
</div>
