.md-button {
    margin: 0;
}
.app-bar {
    height: 56px;
    min-height: 56px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    &.main-bar {
        background-color: #201f1f;
    }
}
@media #{$small-and-up} {
    .app-bar {
        
    }
}
@media #{$small-and-up} {
    .app-bar {
        height: 64px;
        min-height: 64px;
        padding: 0 1.5*$content-padding;
    }
}
.app-bar {
    h1 {
        margin: 0;
        padding: 0;
        height: 56px;
        line-height: 56px;
        width: 136px;
        float: left;
        background-color: inherit;
        a {
            background: url("/assets/img/daksports_logo_red_white_noborder.svg")center no-repeat;
            background-size: 95%;
            display: block;
            height: 56px;
            line-height: 56px;
            width: 135px;
            overflow: hidden;
            text-indent: -3000px;
            margin-left: 16px;
        }
    }
}
@media #{$small-and-up} {
    .app-bar {
        h1 {
            margin: 0;
            width: 160px;
            height: 64px;
            line-height: 64px;
            a {
                width: 100%;
                height: 64px;
                line-height: 64px;
                margin: 0;
            }
        }
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .app-bar h1 a {
        background: url("/assets/img/daksports_logo_red_white_noborder.svg") center no-repeat;
        background-size: 135px 36px;
    }
}
.app-bar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #201f1f;
        li {
            margin: 0;
        }
    }
}
.app-bar .app-bar-button {
    height: 56px;
    line-height: 56px;
    display: inline-block;
    display: block;
    float: none;
    background-color: inherit;
    color: #fff;
    text-decoration: none;
    padding: 0 $content-padding;
    text-transform: uppercase;
    font-family: 'Roboto Mono','Roboto',"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    text-align: left;
    &.has-icon {
        position: static;
        .icon {
            display: none;
        }
    }
}
@media #{$small-and-up} {
    .app-bar .app-bar-button {
        height: 64px;
        line-height: 64px;
        display: inline-block;
        float: left;
        font-size: 16px;
        &.has-icon {
            position: relative;
            padding-left: 46px;
            .icon {
                line-height: 56px;
                position: absolute;
                left: 16px;
                z-index: 1;
            }
        }
    }
}
.app-bar ul {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    float: none;
    position: absolute;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 6;
    display: none;
    li {
        display: block;
        float: none;
    }
}
@media #{$small-and-up} {
    .app-bar ul {
        display: block;
        position: static;
    }
}
.app-bar .app-bar-mobile-trigger {
    display: inline-block;
    .icon {
        height: 56px;
        line-height: 56px;
        z-index: 1;
    }
}

// @media #{$small-and-up} {
//     .app-bar .app-bar-mobile-trigger {
//         display: none;
//     }
// }
.app-bar .app-bar-icon {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    .icon {
        height: 56px;
        line-height: 56px;
        z-index: 1;
    }
}
@media #{$small-and-up} {
    .app-bar .app-bar-icon {
        .icon {
            height: 64px;
            line-height: 64px;
        }
    }
}
.app-bar .md-icon-button {
    color: #fff;
    margin: 4px 0;
    md-icon {
        color: #fff;
    }
}
@media #{$small-and-up} {
    .app-bar .md-icon-button {
        width: 48px;
        margin: 8px 0;
    }
}

// Search
.app-bar {
    .material-one-center{
        position: relative;
    }
    input {
        &.material-search {
            background-color: rgba(255,255,255,.16);
            transition: background-color 0.2s;
            padding: 0 16px 0 0;
            box-sizing: border-box;
            height: 48px;
            margin: 4px 0;
            border: none;
            border-radius: 3px;
            width: 100%;
            color: rgba(255,255,255,.7);
            font-size: 15px;
            font-weight: 400;
            text-indent: 68px;
            outline: 0;
        }
    }
    .search-icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 56px;
        width: 64px;
        text-align: center;
        line-height: 56px;
    }
    .appbar-search-button {
        display: block;
    }
    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: rgba(255, 255, 255, .3);
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: rgba(255, 255, 255, .3);
        opacity: 1;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: rgba(255, 255, 255, .3);
        opacity: 1;
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: rgba(255, 255, 255, .3);
    }
}
@media #{$small-and-up} {
    .app-bar {
        input {
            &.material-search {
                margin: 8px 0;
            }
        }
        .search-icon {
            height: 64px;
            line-height: 64px;
        }
    }
}
@media #{$medium-and-up} {
    .app-bar {
        .appbar-search-button {
            display: none;
        }
    }
}
.search-bar {
    @extend .app-bar;
    margin-top: 0;
    transition: margin 0.3s ease;
    &.open {
        margin-top: 56px;
    }
}