.md-button {
    margin: 0;
}
.main-nav {
    height: 56px;
    min-height: 56px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    background-color: #201f1f;
}
@media #{$medium-and-up} {
    .main-nav {
        
    }
}
@media #{$medium-and-up} {
    .main-nav {
        height: 64px;
        min-height: 64px;
        padding: 0 1.5*$content-padding;
    }
}
.main-nav {
    h1 {
        margin: 0;
        padding: 0;
        height: 56px;
        line-height: 56px;
        width: 136px;
        float: left;
        background-color: inherit;
        a {
            background: url("/assets/img/daksports_logo_red_white_noborder.svg")center no-repeat;
            background-size: 95%;
            display: block;
            height: 56px;
            line-height: 56px;
            width: 135px;
            overflow: hidden;
            text-indent: -3000px;
            margin-left: 16px;
        }
    }
}
@media #{$medium-and-up} {
    .main-nav {
        h1 {
            margin: 0;
            width: 232px;
            height: 64px;
            line-height: 64px;
            a {
                width: 208px;
                height: 64px;
                line-height: 64px;
                margin: 0;
            }
        }
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .main-nav h1 a {
        background: url("/assets/img/daksports_logo_red_white_noborder.svg") center no-repeat;
        background-size: 135px 36px;
    }
}
.main-nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #201f1f;
        li {
            margin: 0;
        }
    }
}
.main-nav .main-nav-button {
    height: 56px;
    line-height: 56px;
    display: inline-block;
    display: block;
    float: none;
    background-color: inherit;
    color: #fff;
    text-decoration: none;
    padding: 0 $content-padding;
    text-transform: uppercase;
    font-family: 'Roboto Mono','Roboto',"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    text-align: left;
    &.has-icon {
        position: static;
        .icon {
            display: none;
        }
    }
}
@media #{$medium-and-up} {
    .main-nav .main-nav-button {
        height: 64px;
        line-height: 64px;
        display: inline-block;
        float: left;
        font-size: 16px;
        &.has-icon {
            position: relative;
            padding-left: 46px;
            .icon {
                line-height: 56px;
                position: absolute;
                left: 16px;
                z-index: 1;
            }
        }
    }
}
.main-nav ul {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    float: none;
    position: absolute;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 6;
    display: none;
    li {
        display: block;
        float: none;
    }
}
@media #{$medium-and-up} {
    .main-nav ul {
        display: block;
        position: static;
    }
}
.main-nav .main-nav-mobile-trigger {
    display: inline-block;
    .icon {
        height: 56px;
        line-height: 56px;
        z-index: 1;
    }
}
@media #{$medium-and-up} {
    .main-nav .main-nav-mobile-trigger {
        display: none;
    }
}
.main-nav .main-nav-icon {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    .icon {
        height: 56px;
        line-height: 56px;
        z-index: 1;
    }
}
@media #{$medium-and-up} {
    .main-nav .main-nav-icon {
        .icon {
            height: 64px;
            line-height: 64px;
        }
    }
}
.main-nav .md-icon-button {
    color: #fff;
    width: 32px;
    height: 56px;
    line-height: 56px;
    md-icon {
        color: #fff;
    }
}
@media #{$medium-and-up} {
    .main-nav .md-icon-button {
        width: 48px;
        height: 64px;
        line-height: 64px;
    }
}