// sidenav
.site-sidenav {
    background: #201f1f;
}
.site-sidenav md-content {
    background: transparent;
}
.sidenav-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
}
.sidenav-logo:focus {
    outline: none;
}
.sidenav-logo > img {
    min-width: 0;
    min-height: 0;
    height: 100px;
    width: auto;
    display: block;
    transform-origin: 50% 0;
    transform: scale(1.2);
}
.nav-header {
    padding: 64px 16px 0;
    margin-top: 64px;
    background-color: #201f1f;
    flex-shrink: 0;
    z-index: 2;
    background-image: url("../assets/img/daksports_logo_red_icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    img.account-avatar {
        width: 48px;
        border-radius: 50%;
    }
    md-list-item > .md-avatar:first-child {
        width: 32px;
        height: 32px;
        margin: 8px 8px 8px 16px;
    }
}
a.sidenav-logo {
    border-bottom: none;
}
.sidenav-logotype {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
}

// nav
.main-menu {
    list-style: none;
    padding: 0;
    li {
        margin: 0;
        list-style-position: inside;
    }
    > li:nth-child(1) {
        border-top: none;
    }
    > li {
        border-bottom: 1px solid rgba(255,255,255,.12);
    }
    .menu-heading {
        display: block;
        line-height: 32px;
        margin: 0;
        padding: 8px 16px 0;
        text-align: left;
        width: 100%;
        color: rgba(255, 255, 255, 0.54);
    }
    .md-button {
        border-radius: 0;
        color: white;
        cursor: pointer;
        display: block;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        padding: 0 16px;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
        md-icon {
            color: white;
        }
    }
}
.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(0);
    transition: transform 0.3s ease-in-out;
    &.closed {
        transform: rotate(180deg);
    }
}
.parent-list-item {
    >a {
        >span {
            font-weight: 500;
        }
    }
}
.menu-toggle-list {
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: height;
    &.account {
        height: 360px;
    }
    &.admin {
        height: 200px;
    }
    &.sports {
        height: 240px;
    }
    &.closed {
        height: 0;
    }
    a.md-button {
        display: block;
        padding: 0 16px 0 32px;
        text-transform: none;
        text-rendering: optimizeLegibility;
        font-weight: 500;
    }
}
