<md-toolbar class="search-bar l-pinned-top" ng-class="{open : showSearchBar}">
    <div class="" layout="row">
        <div class="material-one-center" flex="80" offset="10">
            <input aria-label="Cauta produs" class="material-search label-input-label" no-focus="" placeholder="Cauta produs" role="search">
            <i class="material-icons search-icon">&#xE8B6;</i>
        </div>
    </div>
</md-toolbar>
<md-toolbar class="app-bar main-bar l-pinned-top md-whiteframe-z3">
    <div class="" layout="row">
        <div class="material-one-left" flex-gt-md="25" flex="">
            <!-- <md-button aria-label="View Menu" class="md-icon-button main-nav-mobile-trigger l-left" ng-click="toggleSideNav(); hideSearchBar($event)">
                <md-icon>
                    <i class="material-icons">&#xE5D2;</i>
                </md-icon>
            </md-button> -->

            <md-button aria-label="Toggle Menu" class="md-icon-button md-button l-left" ng-click="toggleSideNav(); hideSearchBar()">
                <md-icon class="" md-svg-src="assets/img/icons/ic_menu_white_24px.svg">
                </md-icon>
            </md-button>

            <h1>
                <a href="/" md-button>Daksports</a>
            </h1>
        </div>
        <div class="material-one-center" flex="50" hide show-gt-md>
            <input aria-label="Cauta produs" class="material-search label-input-label" no-focus="" placeholder="Cauta produs" role="search">
            <i class="material-icons search-icon">&#xE8B6;</i>
        </div>
        <div class="material-one-right" flex-gt-md="25">
            <a ng-href="/account" aria-label="View Account" class="md-icon-button l-right" md-button>
                <md-icon class="md-icon-button">
                    <i class="material-icons">&#xE853;</i>
                </md-icon>
            </a>
            <md-button aria-label="View Cart" class="md-icon-button l-right" ng-click="test()">
                <md-icon>
                    <i class="material-icons">&#xE8CC;</i>
                </md-icon>
            </md-button>
            <md-button aria-label="Search" class="appbar-search-button md-icon-button l-right" ng-click="toggleSearchBar($event)">
                <md-icon>
                    <i class="material-icons">&#xE8B6;</i>
                </md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>
