<md-toolbar class="main-nav l-pinned-top md-whiteframe-z3">
    <div class="">
        <nav>
            <md-button aria-label="View Menu" class="md-icon-button main-nav-mobile-trigger l-left" ng-click="toggleMainMenu($event)">
                <md-icon>
                    <i class="material-icons">&#xE5D2;</i>
                </md-icon>
            </md-button>
            <h1>
                <a href="/" md-button>Daksports</a>
            </h1>
            <ul ng-class="showMainNav ? 'is-visible' : ''">
                <li class="l-left">
                    <a class="main-nav-button" href="/promos" md-button ng-click="toggleMainNav($event)">Promotii</a>
                </li>
                <li class="l-left">
                    <a class="main-nav-button" href="/new" md-button ng-click="toggleMainNav($event)">Produse noi</a>
                </li>
                <li class="l-left">
                    <a class="main-nav-button" href="/support" md-button ng-click="toggleMainNav($event)">Asistenta</a>
                </li>
                <li class="l-left">
                    <a class="main-nav-button" href="/contact" md-button ng-click="toggleMainNav($event)">Contact</a>
                </li>
            </ul>
            <md-button class="md-icon-button l-right" aria-label="View Account">
                <md-menu md-position-mode="target-right target">
                    <md-icon class="md-icon-button" md-menu-origin ng-click="$mdOpenMenu()">
                        <i class="material-icons icon">&#xE853;</i>
                    </md-icon>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="item in ['Log In', 'Sign Up', 'Profile']">
                            <md-button ng-click="ctrl.announceClick($index)">
                                <p>{{item}}</p>
                                <md-icon md-menu-align-target>
                                    <i class="material-icons icon">&#xE853;</i>
                                </md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-button>
            <md-button aria-label="View Cart" class="md-icon-button l-right" ng-click="">
                <md-icon>
                    <i class="material-icons">&#xE8CC;</i>
                </md-icon>
            </md-button>
            <md-button aria-label="Search" class="md-icon-button l-right" ng-click="">
                <md-icon>
                    <i class="material-icons">&#xE8B6;</i>
                </md-icon>
            </md-button>
        </nav>
    </div>
</md-toolbar>