<md-toolbar class="search-bar l-pinned-top">
    <div class="" layout="row">
        <div class="material-one-center" flex="80" offset="10">
            <input class="material-search label-input-label" role="search" placeholder="Cauta produs" aria-label="Cauta produs" no-focus="">
            <i class="material-icons search-icon">&#xE8B6;</i>
        </div>
    </div>
</md-toolbar>
<md-toolbar class="app-bar l-pinned-top md-whiteframe-z3">
    <div class="" layout="row">
        <div class="material-one-left" flex="50" flex-gt-md="25">
            <md-button aria-label="View Menu" class="md-icon-button main-nav-mobile-trigger l-left" ng-click="toggleMainMenu($event)">
                <md-icon>
                    <i class="material-icons">&#xE5D2;</i>
                </md-icon>
            </md-button>
            <h1>
                <a href="/" md-button>Daksports</a>
            </h1>
        </div>
        <div class="material-one-center" flex="50" hide show-gt-md>
            <input class="material-search label-input-label" role="search" placeholder="Cauta produs" aria-label="Cauta produs" no-focus="">
            <i class="material-icons search-icon">&#xE8B6;</i>
        </div>
        <div class="material-one-right" flex="50" flex-gt-md="25">
            <md-button class="md-icon-button l-right" aria-label="View Account">
                <md-menu md-position-mode="target-right target">
                    <md-icon class="md-icon-button" md-menu-origin ng-click="$mdOpenMenu()">
                        <i class="material-icons icon">&#xE853;</i>
                    </md-icon>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="item in ['Log In', 'Sign Up', 'Profile']">
                            <md-button ng-click="ctrl.announceClick($index)">
                                <p>{{item}}</p>
                                <md-icon md-menu-align-target>
                                    <i class="material-icons icon">&#xE853;</i>
                                </md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-button>
            <md-button aria-label="View Cart" class="md-icon-button l-right" ng-click="">
                <md-icon>
                    <i class="material-icons">&#xE8CC;</i>
                </md-icon>
            </md-button>
            <md-button aria-label="Search" class="appbar-search-button md-icon-button l-right" ng-click="">
                <md-icon>
                    <i class="material-icons">&#xE8B6;</i>
                </md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>
