<div>
    <div class="container">
        <div class="row">
            <h3>Select files</h3>
            <input multiple nv-file-select="" type="file" uploader="uploader" removeAfterUpload/><br/>
            <md-list>
                <md-subheader class="md-no-sticky">Imagini produs</md-subheader>
                <md-list-item class="ind-upload-list-item" layout ng-repeat="item in uploader.queue">
                    <div flex="20" layout-align="center" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 80 }"></div>
                    <p flex>{{ item.file.name }}
                        :
                        {{ item.file.size/1024/1024|number:2 }}Mb</p>
                    <md-button aria-label="Remove Pic" class="md-icon-button l-right" ng-click="">
                        <md-icon>
                            <i class="material-icons">&#xE14C;</i>
                        </md-icon>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
<!-- <md-progress-linear class="md-accent ind-upload-progress" md-mode="query" value="50"></md-progress-linear> -->
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>
<md-progress-linear class="md-accent ind-upload-progress" md-mode="query" value="{{uploader.progress}}"></md-progress-linear>
<div>
    Queue progress:
    <div class="progress" style="">
        <div class="progress-bar" ng-style="{ 'width': uploader.progress + '%' }" role="progressbar"></div>
    </div>
</div>