<div>
    <div class="container">
        <div class="row">
            <md-button type="button" class="gd-file-input">
                <md-icon>
                <i class="material-icons">&#xE2C6;</i>
            </md-icon>
                <span>Adauga imagini</span>
                <input multiple nv-file-select="" type="file" uploader="uploader"/><br/>
            </md-button>
            <md-list>
                <md-list-item class="ind-upload-list-item" layout ng-repeat="item in uploader.queue">
                    <div flex="20" layout-align="center" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 80 }"></div>
                    <p flex>{{ item.file.name }}
                        :
                        {{ item.file.size/1024/1024|number:2 }}Mb</p>
                    <md-button aria-label="Remove Pic" class="md-icon-button l-right" ng-click="item.remove()">
                        <md-icon>
                            <i class="material-icons">&#xE14C;</i>
                        </md-icon>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>
<div>
    <md-progress-linear class="md-warn" ng-show="uploader.progress && uploader.progress < 100" md-mode="buffer" value="{{uploader.progress}}" md-buffer-value="{{uploader.progress*1.12}}">
      </md-progress-linear>
</div>