<div class="cluster products-cluster" ng-controller="ProductsClusterCtrl">
    <div class="cluster-heading">
        <h2 class="cluster-heading-title single-line">{{title}}</h2>
        <a href="">
            <md-button class="md-primary md-icon-button cluster-heading-button">
                <md-icon>
                    <i class="material-icons">&#xE5C3;</i>
                </md-icon>
            </md-button>
        </a>
    </div>
    <div class="grid-full-width gxs{{xsitems}} gs{{sitems}} gm{{mitems}} gl{{litems}} light-theme">
        <div class="cell" ng-repeat="product in products | limitTo:limit:start">
            <div class="product-card paper resting">
                <div class="product-media">
                    <a href="#" md-ink-ripple>
                        <div class="product-img ar_1-1" style="background-image: url({{product.file1}});"></div>
                        <div class="hoverlay"></div>
                    </a>
                    <div class="product-media-actions"></div>
                </div>
                <div class="product-info">
                    <h2 class="product-title single-line">{{product.name}}</h2>
                    <div class="subtitle-container">
                        <p class="product-subtitle single-line secondary-text-color">{{product.subname}}</p>
                    </div>
                    <div aria-hidden="true" class="description-container is-hidden">
                        <p>{{product.excerpt}}</p>
                        <p>{{product.description}}</p>
                    </div>
                </div>
                <div class="product-actions">
                    <div class="stars-container">
                        <div class="tiny-star" style="background-image: url(assets/icons/tiny-star.png)"></div>
                        <div class="tiny-star" style="background-image: url(assets/icons/tiny-star.png)"></div>
                        <div class="tiny-star" style="background-image: url(assets/icons/tiny-star.png)"></div>
                        <div class="tiny-star" style="background-image: url(assets/icons/tiny-star.png)"></div>
                        <div class="tiny-star" style="background-image: url(assets/icons/tiny-star.png)"></div>
                        <div class="current-rating"></div>
                    </div>
                    <div class="price-container">
                        <a href="#">RON{{product.price}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>