<div class="single-product-main">
    <!-- <div class="product-hero ar_16-9" style="background-image: url(uploads/15/07/01.jpg);">
        <md-button class="md-icon-button" ng-click="back()">
            <md-icon>
                <i class="material-icons">&#xE5C4;</i>
            </md-icon>
        </md-button>
    </div> -->
    <div class="details-wrapper light-theme">
        <div class="details-info">
            <div class="cover-container" style="background-image: url(uploads/15/07/01.jpg);"></div>
            <div class="info-container">
                <h1 class="product-title">Pantofi sport</h1>
                <p class="product-subtitle">Nike FCB Squad SS PM TOP 2</p>
                <a class="product-brand" href="">Nike</a>
                <a class="product-category" href="/store/apps/category/GAME_ADVENTURE">Incaltaminte</a>
                <div class="details-actions">
                    <md-button class="md-primary md-raised flat dark-theme buy-button">RON259.55</md-button>
                    <md-button class="md-primary md-raised flat light-theme wishlist-button">Adauga in cos</md-button>
                </div>
                <div class="details-stock">
                    <div class="stock-info-img"></div>
                    Acest produs se afla in stock.
                </div>
            </div>
        </div>
        <div class="details-section screenshots"></div>
        <div class="details-section description"></div>
    </div>
</div>
