<div class="single-product-main">
<!-- <div class="product-hero ar_16-9" style="background-image: url(uploads/15/07/01.jpg);">
        <md-button class="md-icon-button" ng-click="back()">
            <md-icon>
                <i class="material-icons">&#xE5C4;</i>
            </md-icon>
        </md-button>
    </div> -->
    <div class="details-wrapper light-theme">
        <div class="details-info">
            <div class="cover-container" style="background-image: url({{files.file1}});"></div>
            <div class="info-container">
                <h1 class="product-title">{{product.name}}</h1>
                <p class="product-subtitle">{{product.subname}}</p>
                <a class="product-brand" href="">Nike</a>
                <a class="product-category" href="/store/apps/category/GAME_ADVENTURE">Fotbal/Tricouri</a>
                <div class="details-actions">
                    <md-button class="md-primary md-raised flat dark-theme buy-button">RON{{product.price}}</md-button>
                    <md-button class="md-primary md-raised flat light-theme wishlist-button">
                        <md-icon>
                            <i class="material-icons md-14">&#xE854;</i>
                        </md-icon>
                        Adauga in cos</md-button>
                </div>
                <div class="details-stock">
                    <div class="stock-info-img"></div>
                    Acest produs se afla in stock.
                </div>
                <div class="details-info-divider"></div>
                <div class="header-star-badge">
                    <div class="stars-container">
                        <div aria-label=" Rated 4.1 stars out of five stars " class="tiny-star star-rating-non-editable-container">
                            <div class="current-rating" style="width: 48.731762%;"></div>
                        </div>
                    </div>
                    <div class="stars-count">
                        (
                        <span class="reviewers-small"></span>69,208)
                    </div>
                </div>
            </div>
        </div>
        <md-content md-scroll-x class="details-section screenshots">

            <div class="carousel" ng-controller="CarouselCtrl as carousel">
                <div class="carousel-list" layout>
                    <div class="carousel-item ar_1-1" ng-repeat="file in files" style="background-image: url({{file}})" flex="33">
                        <div class="hoverlay"></div>
                    </div>
                </div>
                <div class="carousel-controls">
                    <div class="carousel-control prev l-left" md-ink-ripple>
                        <i class="material-icons md-48">&#xE5CB;</i>
                    </div>
                    <div class="carousel-control next l-right" md-ink-ripple ng-click="carousel.next(files)">
                        <i class="material-icons md-48">&#xE5CC;</i>
                    </div>
                </div>
            </div>

        </md-content>
        <div class="details-section description">
            <div class="details-section-container">
                <h1 class="heading">
                    Descriere produs
                </h1>
                <md-content class="text-body" md-scroll-y>{{product.desc}}</md-content>
            </div>
            <div class="details-section-divider"></div>
        </div>
    </div>
</div>