<header class="nav-header">
    <img alt="Ionut Achim" class="account-avatar overkill" ng-src="https://lh3.googleusercontent.com/-J4-lFIpZWcA/AAAAAAAAAAI/AAAAAAAABo4/o2B_lk7gXWE/s46-c-k-no/photo.jpg"/>
    <md-list class="overkill">
        <md-list-item md-clickable role="list-item">
            <p class="single-line body1" style="color: rgba(255,255,255,.7)">monodnb@gmail.com</p>
            <md-button aria-label="Open account menu" class="md-icon-button l-right" ng-click="">
                <md-icon>
                    <i class="material-icons" style="color: rgba(255,255,255,.7)">&#xE5C5;</i>
                </md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</header>
<md-content flex md-scroll-y role="navigation">
    <nav class="main-nav">
        <ul class="main-menu">
            <li class="parent-list-item" ng-show="logged" ng-include="'/templates/sidenav.account.html'"></li>


            <li class="parent-list-item">
                <a md-button href="/recommended" ng-click="focusSection()">
                    <span>
                        Recomandarile noastre
                    </span>
                </a>
            </li>
            </li>


            <li class="parent-list-item">
                <a md-button href="/recommended" ng-click="focusSection()">
                    <span>
                        Promotiile saptamanii
                    </span>
                </a>
            </li>


            <li class="parent-list-item" ng-include="'/templates/sidenav.sports.html'"></li>
        </ul>
<!-- main-menu -->
    </nav>
</md-content>
<md-divider></md-divider>
