<h2 class="menu-heading md-subhead overkill">Getting started</h2>
<ul class="menu-nested-list" ng-controller="NestedListCtrl">
    <li>
        <md-button aria-controls="docs-menu-LatestRelease(0.10.0)" aria-describedby="heading_DocumentationVersion" aria-expanded="false" class="md-button-toggle" ng-click="toggle()" ng-transclude="" tabindex="0">
            <div flex layout="row">
                Contul meu
                <span flex></span>
                <span aria-hidden="true" class="md-toggle-icon" ng-class="{closed : !isToggled}">
                    <md-icon aria-hidden="true" md-svg-src="md-toggle-arrow">
                        <svg fit="" height="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;" version="1.1" viewBox="0 0 48 48" width="100%" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                            <path d="M24 16l-12 12 2.83 2.83 9.17-9.17 9.17 9.17 2.83-2.83z"></path>
                            <path d="M0 0h48v48h-48z" fill="none"></path>
                        </svg>
                    </md-icon>
                </span>
            </div>
            <span class="md-visually-hidden ng-binding ng-scope">
                Toggle collapsed
            </span>
        </md-button>
        <ul class="menu-toggle-list account" ng-class="{closed : !isToggled}">
            <li>
                <a class="" href="/HEAD" md-button ng-click="focusSection()">
                    <span>Favorite</span>
                </a>
            </li>
            <li>
                <a class="" href="/HEAD" md-button ng-click="focusSection()">
                    <span>Lista de cumparaturi</span>
                </a>
            </li>
            <li>
                <a class="" href="/HEAD" md-button ng-click="focusSection()">
                    <span>Date personale</span>
                </a>
            </li>
            <li>
                <a class="" href="/HEAD" md-button ng-click="focusSection()">
                    <span>Setari siguranta</span>
                </a>
            </li>
            <li>
                <a class="" href="/HEAD" md-button ng-click="focusSection()">
                    <span>Abonarile mele</span>
                </a>
            </li>
            <li>
                <a class="" href="/HEAD" md-button ng-click="focusSection()">
                    <span>Istoric comenzi & facturi</span>
                </a>
            </li>
            <li>
                <a class="" href="/HEAD" md-button ng-click="focusSection()">
                    <span>Garantiile mele</span>
                </a>
            </li>
            <li>
                <a class="" href="/HEAD" md-button ng-click="focusSection()">
                    <span>Review-urile mele</span>
                </a>
            </li>
            <li>
                <md-button class="" ng-click="logout()">
                    <span>Logout</span>
                </md-button>
            </li>
        </ul>
    </li>
</ul>
