<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 admin-menu" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-content>
        <header class="nav-header">
            <a class="sidenav-logo" href="/admin" md-button>
                <h1 class="md-heading">Admin area</h1>
            </a>
        </header>

<!-- <ul class="screen-reader-text">
        <li class="md-whiteframe-z2">
            <md-button href="#" ng-click="focusMainContent($event)">Skip to content</md-button>
        </li>
    </ul>

    <md-content flex role="navigation">
        <ul class="docs-menu">
            <li class="parent-list-item" ng-class="">
                <a href="/" md-button="">
                    <h2 class="menu-heading md-subhead" id="">
                        Vezi toate produsele
                    </h2>
                </a>
            </li>
        </ul>
    </md-content> -->
        <ul>
            <li>
                <a class="am-menu-button has-icon" href="/admin/list" md-button="" ng-transclude="">
                    <i class="material-icons icon">&#xE8EF;</i>
                    <span>Vezi toate produsele</span>
                </a>
            </li>
            <li>
                <a class="am-menu-button has-icon" href="/admin/search" md-button="" ng-transclude="">
                    <i class="material-icons icon">&#xE8B6;</i>
                    <span>Cauta produs</span>
                </a>
            </li>
            <li>
                <a class="am-menu-button has-icon" href="/admin/add" md-button="" ng-transclude="">
                    <i class="material-icons icon">&#xE150;</i>
                    <span>Adauga produs</span>
                </a>
            </li>
            <li>
                <a class="am-menu-button has-icon" href="/admin/settings" md-button="" ng-transclude="">
                    <i class="material-icons icon">&#xE8B8;</i>
                    <span>Setari</span>
                </a>
            </li>
        </ul>
    </md-content>
</md-sidenav>