<div class="page-content c-max">
    <gd-heading title="Liste cumparaturi" subtitle="Mai jos sunt listele tale de cumparaturi"></gd-heading>
    
    <div class="shopping-lists" layout-wrap layout="row">
        <div class="grid-cell list-wrapper" flex="33" ng-class="{active : shoppingList.active}" ng-click="gdShoppingLists.makeActive(shoppingList.id)" ng-repeat="shoppingList in gdShoppingLists.lists">
            <div class="gd-shopping-list paper resting" data-size="material">
                <div class="image-wrapper">
                    <div class="image-inner-wrapper">
                        <div class="composite-wrapper" data-image-count="{{shoppingList.items.length | maxCount:5}}">
                            <div class="item-image" data-index="{{$index}}" draggable="false" ng-repeat="item in shoppingList.items | limitTo: 5" style="background-image:url({{item.product.file1}})">
                                <div class="hoverlay" style="background-color:rgba(0,0,0,.24); opacity:{{1 - ($index*0.2)}}"></div>
                            </div>
                        </div>
                    </div>
                    <md-button aria-label="Trimite lista in cos" class="md-fab md-mini md-primary sync-to-cart" ng-click="shoppingList.syncToCart()" ng-show="!shoppingList.inCart">
                        <md-tooltip>Trimite in cos</md-tooltip>
                        <md-icon md-svg-src="assets/icons/ic_sync_disabled_24px.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Trimite lista in cos" class="md-fab md-mini md-primary md-hue-1 synced-to-cart" ng-click="shoppingList.unSyncToCart(true)" ng-show="shoppingList.inCart">
                        <md-tooltip>Trimite in cos</md-tooltip>
                        <md-icon md-svg-src="assets/icons/ic_sync_24px.svg"></md-icon>
                    </md-button>
                </div>
                <div class="details">
                    <div class="details-inner">
                        <h3 class="title fade-out tooltip " href="">{{shoppingList.id}}</h3>
                        <p class="sub-title fade-out tooltip ">{{shoppingList.count()}}
                            produse ·
                            <span>{{shoppingList.total() | number : 2}}
                                RON</span>
                        </p>
                    </div>
                    <div class="see-list">
                        <a ng-href="account/lists/{{shoppingList.id}}">
                            <md-icon md-svg-src="assets/icons/ic_open_in_new_24px.svg"></md-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-list-fab">
        <md-button aria-label="Creaza o lista noua" md-theme="brand" class="md-fab md-primary " ng-click="gdShoppingLists.newList()">
            <md-tooltip>Adauga lista noua</md-tooltip>
            <md-icon md-svg-src="assets/icons/ic_add_white_24px.svg"></md-icon>
        </md-button>
    </div>

</div>
