<div class="page-content c-max">
    <div class="" layout layout-wrap>
        <md-button class="md-primary md-raised" md-theme="brand" ng-click="gdShoppingLists.addItem(gdShoppingLists.activeList(), product, 'M', 1)" ng-repeat="product in $root.products | limitTo : 10">{{product.name}}</md-button>
    </div>

    <div class="shopping-lists" layout-wrap layout="row">
        <div class="grid-cell list-wrapper" flex="25" ng-class="{active : shoppingList.active}" ng-click="gdShoppingLists.makeActive(shoppingList.id)" ng-repeat="shoppingList in gdShoppingLists.lists">
            <div class="gd-shopping-list paper resting" data-size="material">
                <div class="image-wrapper ">
                    <div class="image-inner-wrapper">
                        <div class="composite-wrapper" data-image-count="{{shoppingList.items.length | maxCount:5}}">
                            <div class="item-image" data-index="{{$index}}" draggable="false" ng-repeat="item in shoppingList.items | limitTo: 5" style="background-image:url({{item.product.file1}})">
                                <div class="hoverlay" style="background-color:rgba(0,0,0,.24); opacity:{{1 - ($index*0.2)}}"></div>
                            </div>
                        </div>
                    </div>
                    <md-button aria-label="Trimite lista in cos" class="md-fab md-mini md-primary send-to-cart" ng-click="shoppingList.sendToCart()" ng-show="!shoppingList.inCart">
                        <md-tooltip>Trimite in cos</md-tooltip>
                        <md-icon md-svg-src="assets/icons/ic_sync_disabled_24px.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Trimite lista in cos" class="md-fab md-mini md-primary md-hue-1 send-to-cart" ng-click="shoppingList.removeFromCart()" ng-show="shoppingList.inCart">
                        <md-tooltip>Trimite in cos</md-tooltip>
                        <md-icon md-svg-src="assets/icons/ic_sync_24px.svg"></md-icon>
                    </md-button>
                </div>
                <div class="details">
                    <div class="details-inner">
                        <a class="title fade-out tooltip " href="">{{shoppingList.id}}</a>
                        <a class="sub-title fade-out tooltip ">{{shoppingList.count()}}
                            produse ·
                            <span>{{shoppingList.total() | float}}
                                RON</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-cell new-list">
            <md-tooltip>Adauga lista noua</md-tooltip>
            <div class="gd-shopping-list paper resting" data-size="material">
                <div class="image-wrapper"></div>
                <div class="details" style="opacity:0;">
                    <div class="details-inner">
                        <a class="title fade-out tooltip " href="">2323234234324</a>
                        <a class="sub-title fade-out tooltip ">asdasdasd</a>
                    </div>
                </div>
                <md-icon md-svg-src="assets/icons/ic_add_white_24px.svg" ng-click="gdShoppingLists.newList()"></md-icon>
            </div>
        </div>
    </div>
    
    <div class="" id="cart">
        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">Lista cos</md-subheader>
            <md-list-item ng-repeat="item in gdShoppingCart.items">
                <p>
                    {{ item.product.name }} x {{item.count}}
                </p>
                <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
    
</div>