.gd-divider{
    width: auto;
    height: 1px;
    background-color: rgba(0,0,0,.12);
    &.right-inset{
        margin-left: 32px;
    }
    &.left-inset{
        margin-right: 32px;
    }
}

.gd-separator{
    width: 1px;
    height: 48px;
    float: right;
    margin: 0 4px;
    background-color: rgba(0,0,0,.12);
    &.full{
        height: auto;
    }
    &.padded{
        margin: 8px 0;
    }
}