.gd-file-input {
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        outline: none;
        opacity: 0;
    }
}
.ind-upload-list-item {
    position: relative;
}