/*Animations*/
.slide{
  left:0;
}
.slide.ng-enter{
  transition:0.5s linear all;
  position:fixed;
  z-index:inherit;
  bottom:-100%;
  height:inherit;
}
.slide.ng-leave{
  transition:0.5s linear all;
  position:fixed;
  z-index:9999;
  top:0;
}
.slide.ng-leave-active{
  transition:0.5s linear all;
  position:fixed;
  top:-100%;
  left:100%;
}
.slide.ng-enter-active{
  transition:0.5s linear all;
  bottom:0;
  position:relative;
}