@charset "UTF-8";

.theme-switch, .extend-appbar,.extend-special, .color-appbar{
    position: fixed;
    z-index: 100000;
    bottom: 16px;
    right: 16px;
}

.extend-appbar{
    right: 96px;
}
.extend-special{
    right: 176px;
}
.color-appbar{
    right: 256px;
}

.vcenter-test{
    height: 3px;
    background-color: rgba(0,0,0,.12);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}
// Variables
@import "partials/variables/variables";

// Reset
@import "partials/normalize";

// Animations
@import "partials/animations/animations";

// Layout
@import "partials/layout/layout";

// Styles
@import "partials/styles/styles";

// Components
@import "partials/components/components";