.gd-table {
    display: block;
    position: relative;
    background-color: #ddd;
    border: rgba(0,0,0,.4);
    box-sizing: border-box;
    padding: 20px 16px;
}
.gd-table-row {
    position: relative;
    display: block;
    background: #fff;
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    height: 48px;
    line-height: 16px;
    white-space: nowrap;
    margin: 1px 0;
    padding: 0;
    outline: none;
    will-change: transform, background;
    transition: all 0.18s ease-in-out;
    overflow: hidden;
    &:before {
        bottom: 0;
        box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        content: '';
        display: block;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
    }
    &:after {
        background: transparent;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
    }
    [class*='row-'] {
        display: inline-block;
        vertical-align: middle;
        padding: 16px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0,0,0,.87);
    }
    .row-media {
        position: relative;
        user-select: none;
        width: 28px;
        height: 28px;
        border-radius: 14px;
        margin-left: 16px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        will-change: background;
        transition: all 0.28s ease-in-out;
        &:hover {
            background-size: 0;
            .item-select {
                opacity: 1;
            }
        }
        .item-select {
            position: absolute;
            top: -3px;
            border-bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 0;
            will-change: opacity;
            transition: all 0.08s ease-in-out;
            md-checkbox {
                width: 18px;
                height: 18px;
            }
        }
    }
    .row-title,
    .row-subtitle,
    .row-info {
        opacity: 0.87;
    }
    .row-title {
        width: 160px;
    }
    .row-subtitle {
        width: 192px;
    }
    .row-info {
        width: 112px;
        &.promo-price {
            color: $brand-primary;
        }
    }
    .row-excerpt {
        font-weight: lighter;
        color: rgba(0,0,0,.54);
    }
    .row-actions,
    .row-media {
        padding: 0 16px;
    }
    .row-actions {
        position: absolute;
        right: 0;
        padding: 0;
        width: 44px;
        height: 100%;
        will-change: width;
        transition: width 0.28s ease-in-out;
        background-color: #fff;
        box-shadow: -16px 0 16px #fff;
        overflow: hidden;
        md-icon {
            padding: 2px;
            color: rgba(0,0,0,.54);
            fill: rgba(0,0,0,.54);
            &.published{
                color: #36A70E;
                fill: #36A70E;
                &:hover{
                    color: #36A70E;
                    fill: #36A70E;
                }
            }
            &:hover {
                color: rgba(0,0,0,.87);
                fill: rgba(0,0,0,.87);
            }
        }
        .md-icon-button {
            max-width: 32px;
            width: 32px;
            float: left;
        }
        .menu-action,
        .supplemental-actions {
            background-color: #fff;
            position: absolute;
            right: 0;
        }
        .supplemental-actions {
            width: 0;
            right: 44px;
            will-change: width;
            transition: width 0.16s ease-in-out;
        }
    }
    &.selected {
        &:after {
            background: $brand-primary;
        }
    }
    &:hover {
        .hoverlay {
            opacity: 0.54;
        }
        .row-title,
        .row-subtitle,
        .row-info {
            opacity: 1;
        }
        .row-actions {
            width: 172px;
            .supplemental-actions {
                width: 132px;
            }
        }
    }
    &.expanded {
        width: 106%;
        height: 296px;
        margin: 16px 0 16px -3%;
        @extend .raised;
        .single-product-main{
            margin-top: 0;
        }
        .row-actions {
            width: 172px;
            top: 0;
            .supplemental-actions {
                width: 132px;
            }
        }
        &:hover {
            .hoverlay {
                opacity: 0;
            }
        }
    }
}
.gd-table-header {
    position: relative;
    padding: 16px;
    color: rgba(0,0,0,.54);
    font-size: 12px;
    font-weight: 300;
    .column-name {
        display: inline-block;
        user-select: none;
        cursor: pointer;
        span {
            color: rgba(0,0,0,.54);
            font-size: 13px;
            line-height: 24px;
            font-weight: bold;
            user-select: none;
        }
        md-icon {
            opacity: 0;
            padding: 4px;
            margin-bottom: 2px;
            color: rgba(0, 0, 0,.3);
            fill: rgba(0, 0, 0, .3);
            transition: all 0.18s ease-in-out;
            &.reverse {
                transform: rotate(180deg);
            }
        }
        &.active-sort {
            display: inline-block;
            span {
                color: rgba(0,0,0,.87);
                font-weight: bold;
            }
            md-icon {
                opacity: 1;
                padding: 4px;
                color: rgba(0, 0, 0, .3);
                fill: rgba(0, 0, 0, .3);
            }
            &.sort-ascending {

            }
        }
        &.media-column {

        }
        &.title-column {
            margin-left: -12px;
            padding: 16px;
            width: 160px;
        }
        &.subtitle-column {
            padding: 16px;
            width: 192px;
        }
        &.info-column {
            padding: 16px;
            width: 112px;
        }
        &.excerpt-column {
            padding: 16px;
        }
    }
}
