<div class="page-content c-max">
    <div class="page-hero">
    <!-- Nav -->
    </div>
    
    
    <div class="gd-cluster-wrapper">
        <div class="gd-cluster">
            <gd-heading subtitle="Nu pierde cele mai bune oferte!" title="Promotionale"></gd-heading>
            <div class="gd-lane-button prev"></div>
            <div class="gd-lane-content prev">
                <div class="gd-lane-item" ng-repeat="item in products">
                        <gd-card card-resource="item"></gd-card>
                </div>
            </div>
            <div class="gd-lane-button next"></div>
        </div>
    </div>
</div>