<div class="page-content c-max">
    <md-button ng-click="setSizes()">TEST</md-button>

    <!-- <div class="container" style="background-image:url({{myImage}})">
        <img color-thief color-thief-dominant="colors.myDominantColor" ng-hide="true" ng-src="{{myImage}}">
    </div> -->

    <!-- <div class="gd-cluster">
        <div class="gd-cluster-background" ng-style="{'background-color': 'rgb('+colors.myDominantColor[0]+', '+colors.myDominantColor[1]+', '+colors.myDominantColor[2]+')'}">
            <div class="background-image-container" style="background-image:url({{myImage}})">
                <img ng-hide="true" aria-hidden="true" class="background-image" color-thief color-thief-dominant="colors.myDominantColor" ng-src="{{myImage}}">
            </div>
            <div class="background-gradient" ng-style="{'box-shadow':'-100px 0px 120px 0px rgb('+colors.myDominantColor[0]+', '+colors.myDominantColor[1]+', '+colors.myDominantColor[2]+')'}"></div>
            <div class="cluster-items" layout>
                <div class="grid-cell" flex="33" ng-repeat="item in $root.products | limitTo : 3">
                    <gd-card card-resource="item"></gd-card>
                </div>
            </div>
        </div>
    </div> -->



</div>
