#store-page{
    padding-bottom: 200px;
}

.grid-cell{
    padding: 8px;
}

.filter-list{
    padding: 16px;
    min-height: 96px;
}

.items-end{
    position: fixed;
    z-index: -10;
    bottom: 48px;
    left: 16px;
    right: 16px;
    width: auto;
    height: 296px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
