#store-page {
    padding-bottom: 24px;
}
.grid-cell {
    padding: 8px;
}
.filter-list {
    padding: 16px;
    position: relative;
}
.items-end {
    position: fixed;
    z-index: -10;
    bottom: 48px;
    left: 16px;
    right: 16px;
    width: auto;
    height: 296px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.list-sorting {
    bottom: 0;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    margin-top: 16px;
    // max-height: 48px;
    .sort-direction {
        width: 48px;
        overflow: hidden;
        // position: absolute;
        margin-top: 12px;
        md-icon {
            cursor: pointer;
            margin: 0;
            width: 48px;
            height: 48px;
            padding: 12px;
        }
    }
    md-checkbox,
    md-radio-button {
        opacity: 0.65;
        // left: 48px;
        margin-left: 0;
        top: 12px;
        md-icon {
            width: 14px;
            top: -1px;
        }
        span {
            font-size: 13px;
            color: rgba(0,0,0,.87);
            font-weight: 400;
            // vertical-align: sub;
        }
        &[disabled] {
            pointer-events: none;
        }
        &.selected {
            opacity: 1;
            span {
                font-weight: 400;
            }
        }
    }
}
