<div class="page-content c-max">
    <span style="padding-left: 16px; color: rgba(0,0,0,.54);">Filtre active:</span>
    <div layout="column" layout-gt-sm="row">
        <md-chips delete-button-label="Sterge filtru" delete-hint="Apasa delete ca sa stergi un filtru" ng-model="BrandFilter.selected" placeholder="Adauga un brand" readonly="true" secondary-placeholder="+ Brand" flex></md-chips>
        <md-chips delete-button-label="Sterge filtru" delete-hint="Apasa delete ca sa stergi un filtru" ng-model="TypeFilter.selected" placeholder="Adauga o categorie" readonly="true" secondary-placeholder="+ Main category" flex></md-chips>
        <md-chips delete-button-label="Sterge filtru" delete-hint="Apasa delete ca sa stergi un filtru" ng-model="KindFilter.selected" placeholder="Adauga o subcategorie" readonly="true" secondary-placeholder="+ Brand" flex></md-chips>
    </div>
    <div ng-hide ng-repeat="item in $root.products | dummyBrandFilter : BrandFilter.selected |  dummyTypeFilter : TypeFilter.selected |  dummyKindFilter : KindFilter.selected | dummyPriceFilter : PriceFilter.selected | filter : q as filtered"></div>
    <div class="product-grid" layout layout-padding layout-wrap style="margin-left: -16px; margin-right: -16px;">
        <div class="grid-cell scale-fade" flex="50" flex-gt-md="33" flex-gt-lg="25" ng-repeat="item in $root.filtered | brandFilter : BrandFilter.selected | typeFilter : TypeFilter.selected | kindFilter : KindFilter.selected | priceFilter : PriceFilter.selected | promoFilter : PromoFilter.state | limitTo : limit">
            <gd-card card-resource="item"></gd-card>
        </div>
    </div>
    <md-divider></md-divider>
</div>
